/* RSS Reader CSS
------------------------------------------------------------ */

#body.feeds #page,
#body.feeds #axe {
	padding: 0;
}

#body.feeds #fab {
	left: 198px;
	transition: transform .2s cubic-bezier(.2,-.5,.5,.2), left .3s ease;
}

#sub-menu #hide-feed-list {
	padding: 6px;
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: rgba(0, 0, 0, .7);
}

#sub-menu #hide-feed-list:focus {
	background-color: rgba(0, 0, 0, .1);
}

#sub-menu #hide-feed-list:before {
	content: "\e5d2";
	font-size: 1.7em;
	cursor: pointer;
}

#sub-menu .rss-menu-buttons > li > button {
	background-color: transparent;
	border: none;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	font-weight: bold;
	padding: 7px 16px;
	margin: 0 5px;
	opacity: .85;
}

#sub-menu .rss-menu-buttons li > button::before {
	font-size: 1.5em;
	margin-right: 7px;
}

#sub-menu .rss-menu-buttons li:nth-of-type(1) > button::before { content: "\e5d5"; }
#sub-menu .rss-menu-buttons li:nth-of-type(2) > button::before { content: "\e896"; }
#sub-menu .rss-menu-buttons li:nth-of-type(3) > button::before { content: "\e0c3"; }
#sub-menu .rss-menu-buttons li:nth-of-type(4) > button::before { content: "\e16c"; }



#sub-menu .rss-menu-tags {
	flex: 1 1 100%;
	justify-content: center;
}

#sub-menu .rss-menu-tags > li {
	display: inline-block;
	padding: 5px 15px;
	color: #333;
	border: 1px solid #c7c7c7;
	border-radius: 20px;
	margin: 3px;
	font-weight: bold;
	cursor: pointer;
	background-color: white;
	transition: color 0.2s ease, background-color 0.2s ease;
}

#sub-menu .rss-menu-tags > li:hover,
#sub-menu .rss-menu-tags > li.active-site {
	color: var(--md-primary-color);
	background-color: #eee;
}

/* the left sidebar, with the list of feeds */
#feed-list {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	overflow-y: scroll;
	position: fixed;
	width: 280px;
	height: calc(100% - 110px);
	border-radius: 0;
	transform: translateX(0px);
	transition: transform .3s ease;
}

#feed-list.hidden-list {
	transform: translateX(-280px);	
}

#feed-list.hidden-list + #rss-list {
	margin-left: 20px;
}

#feed-list.hidden-list ~ #fab {
	left: -82px;
}

#feed-list li {
	position: relative;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 20px 45px;
	background-repeat: no-repeat;
	background-position: 12px center;
	cursor: pointer;
	background-size: 20px 20px;
}

#feed-list > li.special {
	padding: 0;
}

#feed-list > li.special:hover {
	box-shadow: none;
}

#feed-list > li.special > ul {
	padding: 0;
	width: 100%;
}

#feed-list > li.special > ul > li {
}

#feed-list > li.special > ul > li::before {
	content: "\e901";
	font-size: 1.6em;
	font-weight: normal;
	position: absolute;
	top: 17px;
	left: 10px;
	color: rgba(0, 0, 0, .4);
}

#feed-list > li.special .all-feeds::before   { content: "\e8ef"; }
#feed-list > li.special .today-feeds::before { content: "\e8df"; }
#feed-list > li.special .fav-feeds::before   { content: "\e87d"; }

#feed-list li[class^="feed-"]:not([data-nbrun="0"])::before {
	content: attr(data-nbrun);
	font-family: inherit;
	position: absolute;
	right: 10px;
	padding: 2px;
	color: rgba(0, 0, 0, .5);

}

#feed-list li[class^="feed-"]:not([data-nbrun="0"]).active-site::before {
	color: inherit;
}


#feed-list > li.feed-folder > ul {
	font-weight: normal;
	padding-left: 0;
	margin-left: -45px;
	margin-right: -45px;
	height: 0;
	overflow: hidden;
}

#feed-list > li.feed-folder.open {
	padding-bottom: 0;
}

#feed-list > li.feed-folder.open > ul {
	height: auto;
	overflow: visible;
	margin-top: 20px;
}

#feed-list li.feed-folder a.unfold {
	margin-left: 5px;
	overflow: visible;
	transition: transform ease .2s;
	color: inherit;
	position: absolute;
	left: 0;
	top: 12px;
}

#feed-list li.feed-folder .unfold::before {
	content: "\e313";
	font-size: 2em;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 3px;
	color: rgba(0, 0, 0, .4);
}
#feed-list li.feed-folder.active-site .unfold::before,
#feed-list > li.special > ul > li.active-site::before {
	color: inherit;
}

#feed-list li.feed-folder.open .unfold {
	transform: rotate(90deg);
}

#feed-list li.feed-error {
	color: red;
}

#feed-list li.active-site,
#feed-list > li.feed-folder.active-site {
	background-color: #eee;
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s;
	color: var(--md-primary-color);
}

#feed-list > li.feed-folder.active-site .li {
	box-shadow: none;
}

#feed-list li.feed-site:hover,
#feed-list li.feed-folder:not(.open):hover {
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list li[data-nbrun="0"] {
	font-weight: normal;
}

#feed-list li[data-nbrun="0"] .counter {
	visibility: hidden;
}

/* block with list of elements to read */
#rss-list {
	margin-left: 305px;
	margin-right: 20px;
	transition: margin-left .3s ease;

}

#post-list-title {
	padding: 30px 15px 15px;
	display: flex;
	align-items: center;
}

#post-list-title > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	flex: 1;
}

#post-list-title > ul > li {
	display: inline;
}

#post-list-title > ul button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	padding: 0;
	color: rgba(0, 0, 0, .6);
	font-size: 1.5em;
}

#post-list-title ul > li:nth-of-type(1) > button::before        { content: "\e8f4"; }
#post-list-title ul > li:nth-of-type(2) > button::before        { content: "\e5d7"; }
#post-list-title ul > li:nth-of-type(2) > button.unfold::before { content: "\e5d6"; }

#post-list-title > p {
	margin: 0;
}

/* Liste des posts à lire. */
#post-list {
	border-radius: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#post-list > li {
	padding: 0px 15px 0px;
	border-bottom: #F9F9F9 solid 1px;
	transition: box-shadow 0.2s ease 0s;
}

#post-list > li:hover {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
}

#post-list > li.read:not(.open-post) {
	color: gray;
}

#post-list > li img,
#post-list > li table {
	max-width: 100%;
	height: auto;
}

#post-list > li iframe[src^="https://www.youtube.com/"] {
	max-width: 100%;
	width: 100%;
	display: block;
	border: 0;
	margin: 10px 0;
}

/* rss entry title */
#post-list > li > .post-head {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	min-width: 0;
	align-items: center;
}

#post-list > li > .post-head a {
	outline: none;
}

/* bouton fav */
#post-list > li > .post-head > .lien-fav {
	flex: 0 0 32px;
	margin-right: 10px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}

#post-list > li > .post-head > .lien-fav::before {
	content: "\e87e";
	font-size: 1.3em;
}

#post-list > li > .post-head > .lien-fav[data-is-fav="1"]::before {
	content: "\e87d";
	color: red;
}

/* le nom du site */
#post-list > li > .post-head > .site {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 125px;
	padding-right: 10px;
	color: rgba(0, 0, 0, .5);
	font-size: .9em;
}

/* le dossier */
#post-list > li > .post-head > .folder {
	margin: 0 10px 0 0;
	padding: 1px 10px;
	background-color: lightblue;
	border-radius: 10px;
	font-style: italic;
}

/* le titre */
#post-list > li > .post-head > .post-title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 15px 0;
	margin-right: 10px;
}

#post-list > li > .post-head > .post-title:hover {
	text-decoration: underline;
	flex: 1 0 auto;
}

#post-list > li:not(.open-post) > .post-head > .post-title:hover {
	text-decoration: none;
}

#post-list > li .post-head .date {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 auto;
	min-width: 0;
	font-size: .9em;
	color: rgba(0, 0, 0, .5);
}

#post-list > li > .post-head > .share {
	display: none;
}

#post-list > li:hover > .post-head > .share {
	display: block;
	flex: 0 0 auto;
}

#post-list > li > .post-head > .share > a {
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	width: 32px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1.3em;
}

#post-list > li > .post-head > .share > .lien-share::before { content: "\e80d"; }
#post-list > li > .post-head > .share > .lien-open::before  { content: "\e8a0"; }
#post-list > li > .post-head > .share > .lien-mail::before  { content: "\e0be"; }

#post-list > li > .post-head > .share a:hover,
#post-list > li > .post-head > .lien-fav:hover {
	background: rgba(0,0,0, .1);
	color: rgba(0, 0, 0, .6);
}

#post-list > li > .rss-item-content {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#post-list > li > .rss-item-content * {
	max-width: 100%;
}

/* opened post */
#post-list > li.open-post {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
	cursor: auto;
}

#post-list > li.open-post .rss-item-content {
	margin-left: 10px;
	transition: opacity .7s cubic-bezier(0.175, 0.585, 0.32, 1);
	opacity: 1;
	height: auto;
	margin-bottom: 15px;
}

#post-list > li > hr.clearboth {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
}

#rss-list > .keyshortcut {
	color: gray;
	margin-top: 20px;
	text-align: center;
}

/* RSS Config Page -------------------- */
#form-rss-config {
	margin: 25px;
}

#rss-feed {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	overflow: hidden;
}

#rss-feed,
#rss-feed tr,
#rss-feed td {
	border: none;
}

#rss-feed > thead {
	background-color: #f6f6f6;
}

#rss-feed tr {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

#rss-feed > tbody > tr:hover {
	background-color: rgba(0, 0, 0, .1);
	transition: background-color .5s;
}

#rss-feed > tbody > tr.edited {
	background-color: rgba(128, 128, 0, .1);
}

#rss-feed > tbody > tr.deleted {
	background-color: rgba(255, 0, 0, .3);
	background-image: linear-gradient(to bottom, transparent 24px, black 24px, black 26px, transparent 26px);
}


#rss-feed th {
	padding: 20px 10px 10px;
	text-align: left;
	white-space: nowrap;
}

#rss-feed td {
	padding: 10px;
	max-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 2px;
}

#rss-feed td:focus {
	box-shadow: 0px 3px 9px black;
	background: white;
}

#rss-feed tr td.icon {
	width: 30px;
	max-width: 30px;
}

#rss-feed tr td.folder {
	width: 0px;
	max-width: 100%;
}

#rss-feed tr td.dtime {
	width: 0px;
	max-width: 100%;
}


#rss-feed tr td.suppr {
	width: 30px;
	max-width: 30px;
}


#rss-feed tr td.suppr > button {
	border: 0;
	background-color: transparent;
	padding: 0;
	width: 30px;
	border-radius: 50%;
	height: 30px;
	color: rgba(0, 0, 0, .5);
}

#rss-feed tr td.suppr > button:hover {
	background-color: silver;
	color: black;
}

#rss-feed tr td.suppr > button::before {
	font-size: 1.4em;
	content: '\e92b';
}


