/* RSS Reader CSS
------------------------------------------------------------ */

#body.feeds {
	background-color: white;
}
#body.feeds #page,
#body.feeds #axe {
	padding: 0;
}

#body.feeds #fab {
	left: 198px;
	transition: transform .2s cubic-bezier(.2,-.5,.5,.2), left .3s ease;
}

/* the left sidebar, with the list of feeds */
#feed-list {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	overflow-y: hidden;
	overflow-x: hidden;
	position: fixed;
	width: 320px;
	height: calc(100% - 64px);
	border-radius: 0;
	transform: translateX(0px);
	transition: transform .3s ease;
	box-shadow: none;
	background-color: inherit;
}

#feed-list:hover {
	overflow-y: scroll;
}

#feed-list.hidden-list {
	transform: translateX(-360px);	
}

#feed-list.hidden-list + #rss-list {
	margin-left: 30px;
}

#feed-list.hidden-list ~ #fab {
	left: -82px;
}

#feed-list li {
	position: relative;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 185px;
	padding: 15px 50px 15px 60px;
	margin: 5px 0;
	background-repeat: no-repeat;
	background-color: inherit;
	background-position: 20px center;
	cursor: pointer;
	background-size: 20px 20px;
	border-radius: 0 25px 25px 0;
}

#feed-list li.feed-site:hover {
	background-size: 0 0;
	color: var(--md-secondary-color);
}

#feed-list li.feed-site > button {
	display: inline-block;
	background-color: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	left: 12px;
	top: 10px;
	opacity: 0;
	color: var(--md-secondary-color);
}

#feed-list li.feed-site > button::before {
	content: "\e8b8";
	font-size: 1.5em;
	display: inline-block;
	height: 25px;
	width: 30px;
	border-radius: 50%;
	padding: 3px;
}

#feed-list li.feed-site:hover > button {
	opacity: 1;
}

#feed-list li.feed-folder > ul > li.feed-site > button {
	left: 22px;
}

#feed-list > li.special {
	padding: 0 110px 0 0;
}

#feed-list > li.special:hover {
	box-shadow: none;
}

#feed-list > li.special > ul {
	padding: 0;
	width: 100%;
}

#feed-list > li.special > ul > li {
}

#feed-list > li.special > ul > li::before {
	content: "\e901";
	font-size: 1.6em;
	font-weight: normal;
	position: absolute;
	top: 12px;
	left: 20px;
	color: rgba(0, 0, 0, .4);
}

#feed-list > li.special .all-feeds::before   { content: "\e8ef"; }
#feed-list > li.special .today-feeds::before { content: "\e8df"; }
#feed-list > li.special .fav-feeds::before   { content: "\e87d"; }

#feed-list li[class^="feed-"]:not([data-nbrun="0"])::before {
	content: attr(data-nbrun);
	font-family: inherit;
	position: absolute;
	right: 20px;
	padding: 2px;
	opacity: .7;

}

#feed-list li[class^="feed-"]:not([data-nbrun="0"]).active-site::before {
	color: inherit;
}

#feed-list > li.feed-folder > ul {
	font-weight: normal;
	padding-left: 0;
	margin-left: -65px;
	margin-right: -45px;
	height: 0;
	overflow: hidden;
}

#feed-list > li.feed-folder > ul > li {
	padding-left: 70px;
	padding-right: 40px;
	margin-left: 5px;
	background-position: 30px center;
}

#feed-list > li.feed-folder.open {
	padding-bottom: 0;
}

#feed-list > li.feed-folder.open > ul {
	height: auto;
	overflow: visible;
	margin-top: 20px;
}

#feed-list li.feed-folder a.unfold {
	margin-left: 11px;
	overflow: visible;
	transition: transform ease .2s;
	color: inherit;
	position: absolute;
	left: 0;
	top: 7px;
}

#feed-list li.feed-folder .unfold::before {
	content: "\e313";
	font-size: 2em;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 3px;
	color: rgba(0, 0, 0, .4);
}
#feed-list li.feed-folder.active-site .unfold::before,
#feed-list > li.special > ul > li.active-site::before {
	color: inherit;
}

#feed-list li.feed-folder.open .unfold {
	transform: rotate(90deg);
}

#feed-list li.feed-error {
	color: red;
}

#feed-list li.active-site,
#feed-list > li.feed-folder.active-site {
	background-color: #e8e8e8;
	color: var(--md-secondary-color);
}

#feed-list > li.feed-folder.active-site li {
	box-shadow: none;
}

#feed-list li.feed-site:hover,
#feed-list li.feed-folder:not(.open):hover {
}

#feed-list li[data-nbrun="0"] {
	font-weight: normal;
}

#feed-list li[data-nbrun="0"] .counter {
	visibility: hidden;
}

/* block with list of elements to read */
#rss-list {
	margin-left: 360px;
	margin-right: 30px;
	transition: margin-left .3s ease;

}

/* button bar above posts */
#post-list-title {
	padding: 30px 0px 30px 10px;
	display: flex;
	align-items: center;
}

#post-list-title > .posts-actions-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
	flex: 1;
}

#post-list-title > .posts-actions-buttons > li {
	display: inline;
}

#post-list-title > .posts-actions-buttons button {
	font-size: 0;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
	padding: 6px;
	color: rgba(0, 0, 0, .6);
}

#post-list-title > .posts-actions-buttons button::before {
	font-size: 1.5rem;
}

#post-list-title > .posts-actions-buttons button:hover {
	background-color: rgba(0, 0, 0, .1);
	transition-delay: 0ms;
}

#post-list-title > .posts-actions-buttons > li:nth-of-type(1) > button::before        { content: "\e8f4"; }
#post-list-title > .posts-actions-buttons > li:nth-of-type(2) > button::before        { content: "\e5d7"; }
#post-list-title > .posts-actions-buttons > li:nth-of-type(2) > button.unfold::before { content: "\e5d6"; }
#post-list-title > .posts-actions-buttons > li:nth-of-type(3) > button::before { content: "\e627"; }
#post-list-title > .posts-actions-buttons > li:nth-of-type(4) > button::before { content: "\e923"; }


#post-list-title > p {
	margin: 0;
}

#post-list-title > .item-menu-options button:focus {
	background-color: rgba(0, 0, 0, .1);
}

#post-list-title > .item-menu-options li > button {
	overflow: hidden;
	padding: 10px 70px 10px 40px;
}

#post-list-title > .item-menu-options li > button::before {
	font-size: 1.5em;
	margin-right: 7px;
}

#post-list-title > .item-menu-options li:nth-of-type(1) > button::before { content: "\e0c3"; }
#post-list-title > .item-menu-options li:nth-of-type(2) > button::before { content: "\e16c"; }


/* Liste des posts à lire. */
#post-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#post-list > li {
	padding: 0px 15px 0px 10px;
	border: 1px solid #dadce0;
	margin: 0 0 20px;
	border-radius: 8px;
}

#post-list > li:hover {
}

#post-list > li.read:not(.open-post) {
	color: gray;
}

#post-list > li img,
#post-list > li table {
	max-width: 100%;
	height: auto;
}

#post-list > li .youtube-iframe-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 10px 0 50px;
}

#post-list > li .youtube-iframe-container > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* rss entry title */
#post-list > li > .post-head {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
}

#post-list > li > .post-head a {
	outline: none;
}

/* bouton fav */
#post-list > li > .post-head > .lien-fav {
	flex: 0 0 32px;
	margin-right: 10px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}

#post-list > li > .post-head > .lien-fav:hover {
	background: rgba(0,0,0, .1);
	color: rgba(0, 0, 0, .6);
}

#post-list > li > .post-head > .lien-fav::before {
	content: "\e87e";
	font-size: 1.3em;
}

#post-list > li[data-is-fav="1"] > .post-head > .lien-fav::before {
	content: "\e87d";
	color: var(--md-primary-color);
}

/* le dossier */
#post-list > li > .post-head > .folder {
	margin: 0 10px 0 0;
	padding: 1px 10px;
	background-color: var(--md-primary-color);
	color: var(--main-md-text-color);
	border-radius: 10px;
	font-style: italic;
	transition: color .2s ease, background-color .2s ease;
}

#post-list > li > .post-head > .folder:empty {
	display: none;
}

#post-list > li.open-post > .post-head > .folder {
	background-color: var(--md-secondary-color);
	color: var(--scnd-md-text-color);
}


/* le titre */
#post-list > li > .post-head > .post-title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	flex: 1 1 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 15px 0;
	margin-right: 10px;
}

#post-list > li:hover > .post-head > .post-title {
	text-decoration: underline;
}

/* infos meta du post (site, date…) */
#post-list > li > .post-head > .meta {
	flex: 1 0 100%;
	margin-left: 42px;
	margin-bottom: 15px;
	color: rgba(0, 0, 0, .5);
	font-size: .9em;
}

/* le nom du site */
#post-list > li > .post-head > .meta > .site {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
}

/* date */
#post-list > li > .post-head > .meta > .date {
	overflow: hidden;
	text-overflow: ellipsis;
}
#post-list > li > .post-head > .meta > .date::before {
	content: "\e3fa";
	font-size: .25em;
	margin: 0 7px;
}

#post-list > li > .post-head > .meta > .share {
	opacity: 0;
	transition: opacity 0.2s ease 0s;

}

#post-list > li:hover > .post-head > .meta > .share {
	opacity: 1;
}

#post-list > li > .post-head > .meta > .share > a {
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	width: 32px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1.3em;
}

#post-list > li > .post-head > .meta > .share > .lien-share::before { content: "\e80d"; }
#post-list > li > .post-head > .meta > .share > .lien-open::before  { content: "\E89E"; }
#post-list > li > .post-head > .meta > .share > .lien-mail::before  { content: "\E0E1"; }

#post-list > li > .rss-item-content {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#post-list > li > .rss-item-content * {
	max-width: 100%;
}

/* opened post */
#post-list > li.open-post {
	border-color: var(--md-secondary-color);
	cursor: auto;
}

#post-list > li.open-post .rss-item-content {
	margin-left: 10px;
	transition: opacity .7s cubic-bezier(0.175, 0.585, 0.32, 1);
	opacity: 1;
	height: auto;
	margin-bottom: 15px;
}

#post-list > li > hr.clearboth {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
}

#rss-list > .keyshortcut {
	color: gray;
	margin-top: 20px;
	text-align: center;
}

/* Edit feed popup */
#popup.popup-edit-feed .feed-content > div {
	position: relative;
	padding-left: 55px;
	margin: 5px 0;
}


#popup.popup-edit-feed .feed-content > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#popup.popup-edit-feed .feed-content > div::before {
	font-size: 1.4em;
	position: absolute;
	left: 20px;
	top: 19px;
	color: rgba(0, 0, 0, .4);
}

#popup.popup-edit-feed .feed-content > div label {
	margin: 0 0 0px;
	padding: 5px;
	position: relative;
	display: flex;
	/*align-items: center;*/
	overflow: hidden;
	flex: 1;
	flex-basis: 40%;
}

#popup.popup-edit-feed .feed-content > div .text {
	min-width: 0;
	padding: 15px 30px 5px 5px;
	width: 100%;
	position: relative;
	z-index: 1;
	background-color: transparent;
}

#popup.popup-edit-feed .feed-content > div label > span {
	position: absolute;
	left: 5px;
	padding: 15px 5px 5px 5px;
	transition: all 200ms;
	opacity: 0.5;
	z-index: 0;
	font-weight: 300;
}

#popup.popup-edit-feed .feed-content label > .text:not(:placeholder-shown) + span,
#popup.popup-edit-feed .feed-content label > .text:focus + span {
	/*transform: scale(.75) translateY(-14px);*/
	transform: scale(.75) translateY(0px);
	transform-origin: top left;
	padding-top: 0;
	padding-bottom: 0;
}
#popup.popup-edit-feed .feed-content label > .text:focus + span,
#popup.popup-edit-feed .feed-content label > .text:invalid + span {
	opacity: 1;
	color: #000;
}
#popup.popup-edit-feed .feed-content label > .text:invalid + span {
	color: red;
}



#popup.popup-edit-feed .feed-content-url::before    { content: "\E80B"; }
#popup.popup-edit-feed .feed-content-title::before  { content: "\E892"; }
#popup.popup-edit-feed .feed-content-folder::before { content: "\E2C7"; }


#popup.popup-edit-feed .feed-content > .feed-content-lastpost {
	font-style: italic;
	margin-top: 25px;
}

#popup.popup-edit-feed .feed-content > .feed-content-lastpost > span {
	padding-left: 5px;
}

#popup.popup-edit-feed .feed-content-url input {
	background-size: 20px 20px;
	background-position: calc(100% - 5px) 14px;
	background-repeat: no-repeat;
}


#popup.popup-edit-feed .feed-content .feed-content-error {
	background: rgba(255, 0, 0, .6);
	padding: 15px;
	margin-left: 60px;
	margin-right: 5px;
	margin-bottom: 15px;
	border-radius: 4px;
	color: white;
}

#popup.popup-edit-feed .feed-content .feed-content-error:empty {
	display: none;
}
