/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */
#body.articles {
	background-color: white;
}

#body.articles #axe {
	max-width: 1100px;
}

#blocBillets h2 {
	font-size: 1em;
	opacity: .8;
	padding: 20px 5px 15px;
	margin: 40px 0 0;
	border-top: 1px solid silver;
}

.billets {
	padding: 0;
	margin: 0;
	list-style: none;
	box-shadow: none;
	background-color: var(--md-card-color);
}

.billets > li {
	padding: 0px 15px;
	min-height: 60px;
	margin: 1px 0;
	display: flex;
	align-items: center;
	border-radius: 4px;
	transition: background-color 0.3s ease 0s;
}

.billets > li:hover {
	background-color: var(--md-card-color-hover);
}

.billets > li > a {
	text-decoration: none;
	opacity: .5;
	transition: opacity .3s ease 0s;
	color: inherit;
}

.billets > li:hover > a {
	opacity: 1;
}

.billets > li > a::before {
	font-size: 1.6em;
	margin-right: 5px;
	opacity: .8;
}

.billets > li > a.titre { /*title*/
	flex: 1;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.billets > li > a.titre::before {
	font-size: 1.9em;
	margin-right: 20px;
}

.billets > li.on > a.titre::before {
	content: "\E8F4";
	color: rgba(101, 234, 143, 1);
}

.billets > li.off > a.titre::before {
	content: "\E8F5";
}

.billets > li > a.titre > span { /* "planned" */
	font-style: italic;
	padding: 1px 10px;
	background: var(--md-primary-color-variant);
	margin: 6px 6px 6px 10px;
	border-radius: 10px;
	text-decoration: none;
}

.billets > li > a.date::before {
	content: "\E616";
}

.billets > li > a.comments { /*comms*/
	padding: 0 0 0 12px;
	margin: 0 15px 0 10px;
}

.billets > li > a.comments::before {
	content: "\e8af";
}

.billets > li > a.preview::before { /* prev */
	content: "\E0E2";
}

