/* Agenda CSS
------------------------------------------------------------ */

/* the head row (with callendar + daily events)
------------------------------------------------------- */
#cal-row {
	display: flex;
	align-items: flex-start;
}

#daily-events {
	flex: 1;
}

/* the calendar wrapper
--------------------------------------------- */
#calendar {
	padding: 0;
	overflow: hidden; /* for rounded corners */
	margin: 0 auto;
}

/* the calendar */
#calendar-wrapper {
	background: #fafafa;
	text-align: center;
	padding: 5px;
}

#calendar-table {
	border-collapse: separate;
	border-spacing: 5px;
	table-layout: fixed;
	empty-cells: hide;
}
#calendar-table.table-month-mode .year-mode { display: none; }
#calendar-table.table-year-mode .month-mode { display: none; }

#calendar-table > thead td {
	padding: 5px;
	font-weight: bold;
}

#calendar-table > thead #changeYear {
	text-align: left;
}

#calendar-table > thead #changeYear span {
	display: inline-block;
	margin: 5px;
}

#calendar-table > thead #month {
	text-align: right;
}

#calendar-table > thead #month button {
	margin: 0 5px;
}

#calendar-table > thead td button {
	border: 1px solid transparent;
	font-size: 1.5em;
	overflow: hidden;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	padding: 0px;
	outline: none;
	color: rgba(0, 0, 0, .4);
	vertical-align: middle;
	line-height: 1;
}

#calendar-table > thead td button:focus,
#calendar-table > thead td button:hover {
	background: rgba(0, 0, 0, .1);
}

#calendar-table > thead td button:active {
	background: rgba(0, 0, 0, .3);
}

#calendar-table #show-full-year::before { content: "\e5c4"; }
#calendar-table #next-month::before,
#calendar-table #next-year::before { content: "\e315"; }
#calendar-table #prev-month::before,
#calendar-table #prev-year::before { content: "\e314"; }

#calendar-table .dayAbbr th {
	color: rgba(0, 0, 0, .3);
	padding: 10px;
	font-size: 1.2em;
	/*text-transform: uppercase;*/
}

#calendar-table > tbody > tr > td {
	position:relative;
}

#calendar-table > tbody > tr > td:first-child::before {
	content: attr(data-week);
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
	color: gray;
	font-size: .8em;
	font-family: inherit!important;
	font-weight: normal;
	background: linear-gradient( 135deg, #bbb, transparent 40% );
	border-top-left-radius: 5px;
	padding: 5px;
}

/* only show "nb" when >1 event. */
#calendar-table > tbody > tr > td.hasEvent:not([data-nb-events="1"])::after {
	content: attr(data-nb-events);
	position: absolute;
	right: 0;
	color: var(--main-md-text-color);
	min-width: 20px;
	height: 20px;
	font-size: .8em;
	font-family: inherit!important;
	background: var(--md-primary-color);
	border-radius: 10px;
	padding: 5px;
	box-sizing: border-box;
}

#calendar-table > tbody td {
	padding: 0px;
	border-radius: 50%;
}

#calendar-table.table-year-mode > tbody {
	text-transform: uppercase;
}

#calendar-table > tbody td:not(.hasEvent) > button:hover {
	background: #eee;
}

#calendar-table > tbody td.isToday:not(.hasEvent) {
	color: var(--md-secondary-color);
}

#calendar-table td button {
	display: inline-block;
	height: 45px;
	width: 45px;
	border: 0;
	border-radius: 50%;
	background: transparent;
	padding: 0;
	margin: 0;
}

#calendar-table td.isToday button {
	font-weight: bold;
}

#calendar-table td.hasEvent button {
	background: var(--md-primary-color);
	color: var(--main-md-text-color);
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
}
#calendar-table td.hasEvent.isPast button {
	box-shadow: none;
	opacity: .7;
}

/* the daily shedule list
-------------------------------*/

#daily-events-wrapper {
	padding: 0;
	margin-left: 25px;
	flex: 1;
}

#daily-events-wrapper > p {
	margin-top: 0;
}
#daily-events-wrapper > p > select {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #dadce0;
}
#daily-events {
	padding: 0;
}

#daily-events > div {
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	align-items: center;
	cursor: pointer;
}

#daily-events > div.futureEvent .eventDate {
}

#daily-events > div.pastEvent .eventSummary {
	color: rgba(0, 0, 0, .3);
}

#daily-events > div .eventDate > span {
	vertical-align: middle;
}

#daily-events > div .eventDate > .event-dd {
	font-size: 1.5em;
	display: inline-block;
	width: 2ch;
	text-align: center;
}

#daily-events > div .eventDate > .event-mmdd {
	text-transform: uppercase;
	font-size: .8em;
	color: rgba(0, 0, 0, .6);
	letter-spacing: .8px;
	margin: 0 10px;
	width: 8em;
	text-align: center;
	display: inline-block;
}

#daily-events > div .eventDate > .event-hhii {
	color: rgba(0, 0, 0, .7);
	margin: 0 20px 0 0;
	display: inline-block;
	width: 4.5ch;
}

#daily-events > div .eventSummary {
	flex: 1;
	padding: 0 0 0 10px;
}

#daily-events > div .eventSummary span {
	margin: 0 10px;
}

#daily-events > div > .eventSummary {
	font-weight: bold;
	color: rgba(0, 0, 0, .8);
}

#daily-events > div > .eventSummary > .content {

}

#daily-events > div > .eventSummary > .loc {
	opacity: .8;
}


/* the display-event popup
----------------------------------------------- */

#popup-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, .5);
	background: rgba(229, 229, 229, .75);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 150;
	animation: fade-in .2s;
}

#popup.popup-event,
#popup.popup-edit-event {
	display: block;
	min-height: 300px;
	min-width: 600px;
	background: white;
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3), 0 0px 12px 0 rgba(0, 0, 0, 0.3);
	padding: 0;
	overflow: hidden; /* for rounded corners */
	border-radius: 2px;
}

#popup.popup-event {
	animation:  appearSlow .1s;
}

#popup.popup-event > .event-title {
	background: #F6F6F6;
	padding: 60px 20px 20px 70px;
	position: relative;
}

#popup.popup-event > .event-title > span {
	font-weight: bold;
	font-size: 1.2em;
}

#popup.popup-event > .event-title > .item-menu-options {
	right: 5px;
	top: 5px;
}

#popup.popup-event > .event-title > .button-cancel,
#popup.popup-edit-event > .event-title > .button-cancel {
	position: absolute;
	top: 5px;
	left: 5px;
	background: transparent;
	border: 0;
	min-width: 0;
}

#popup.popup-event > .event-title > .button-cancel:hover,
#popup.popup-edit-event > .event-title > .button-cancel:hover {
	box-shadow: none;
}

#popup.popup-event > .event-title > .button-cancel::before,
#popup.popup-edit-event > .event-title > .button-cancel::before {
	content: "\e5cd";
	display: inline-block;
	font-size: 1.7em;
}

#popup.popup-event > .event-title > .button-edit {
	border: 0;
	background: transparent;
	position: absolute;
	left: 2px;
	bottom: -17px;
}

#popup.popup-event > .event-title > .button-edit::before {
	content: "\e3c9";
	color: white;
	color: var(--main-md-text-color);
	height: 40px;
	width: 40px;
	background: var(--md-primary-color);
	border-radius: 50%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	display: inline-block;
	line-height: 40px;
	text-align: center;

}

#popup.popup-event > .event-content {
	padding: 35px 15px 15px;
	max-width: 900px;
	white-space: pre-line;

}

#popup.popup-event > .event-content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#popup.popup-event > .event-content ul > li {
	padding: 15px 15px 15px 25px;
	margin: 0 0 0 30px;
	position: relative;
}

#popup.popup-event > .event-content ul > li::before {
	font-size: 1.4em;
	position: absolute;
	left: -25px;
	color: rgba(0, 0, 0, .5)
}

#popup.popup-event .event-time::before        { content: "\e192"; }
#popup.popup-event .event-loc::before         { content: "\e567"; }
#popup.popup-event .event-description::before { content: "\e0d8"; }

#popup.popup-event .event-time span {
	display: block;
}

#popup.popup-event .event-time span:not(:first-of-type) {
	color: rgba(0, 0, 0, .4);
	font-size: .9em;
}

/* popup for editing an event
------------------------------------------ */

#popup.popup-edit-event .event-title {
	position: relative;
	background: var(--md-primary-color);
	padding: 10px 10px 0 20px;
	text-align: right;
	color: white;
	color: var(--main-md-text-color);
}

#popup.popup-edit-event > .event-title > button {
	color: var(--scnd-md-text-color);
}

#popup.popup-edit-event .event-title .submit {
	background: transparent;
	min-width: 0;
	box-shadow: none;
}

#popup.popup-edit-event .event-title .text {
	background-color: transparent;
	font-weight: bold;
	font-size: 1.2em;
	display: block;
	width: 100%;
	margin-top: 10px;
	box-shadow: none;
}

#popup.popup-edit-event .event-title .text:focus {
	background-size: 100% 3px, 100% 1px;
}

#popup.popup-edit-event .event-content {
	position: relative;
	padding: 20px 20px 20px 60px;
}

#popup.popup-edit-event .event-content > p:first-of-type {
	margin-right: 55px;
}

#popup.popup-edit-event .event-content::before {
	font-size: 1.4em;
	position: absolute;
	left: 20px;
	color: rgba(0, 0, 0, .5);
	padding: 15px 0;
}

#popup.popup-edit-event .event-content-date::before  { content: "\e192"; }
#popup.popup-edit-event .event-content-loc::before   { content: "\e567"; }
#popup.popup-edit-event .event-content-descr::before { content: "\e0d8"; }

#popup.popup-edit-event .event-content-date p {
	display: flex;
	justify-content: space-between;
}

#popup.popup-edit-event .event-content-loc .text,
#popup.popup-edit-event .event-content-descr .text {
	width: 100%;
}

#popup.popup-edit-event #allDay+label {
	flex: 1;
}

