/* Agenda CSS
------------------------------------------------------------ */

/* the calendar side bar management */
#body.agenda #page,
#body.agenda #axe {
	padding: 0;
}

#body.agenda #header {
	box-shadow: none;
}

#daily-events-wrapper,
#calendar-wrapper {
	display: none;
}

#cal-sizer.eventlist > #daily-events-wrapper {
	display: block;
}

#cal-sizer.eventCalendar > #calendar-wrapper {
	display: block;
}

/* the left sidebar, with the list of feeds */
#side-nav {
	margin: 0;
	padding: 30px 5px;
	position: fixed;
	width: 280px;
	height: calc(100% - 110px);
	border-radius: 0;
	transform: translateX(0px);
	transition: transform .3s ease;
	box-sizing: border-box;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	box-shadow: none;
}

#side-nav.hidden-sidenav {
	transform: translateX(-280px);	
}

#side-nav.hidden-sidenav + #cal-sizer {
	margin-left: 0px;
}

#side-nav.hidden-sidenav ~ #fab {
	left: -82px;
}


/* the mini-calendar */
#mini-calendar-table {
	text-align: center;
	border-collapse: separate;
	border-spacing: 0px;
	empty-cells: hide;
	table-layout: fixed;
	font-weight: 300;
}

#mini-calendar-table button {
	display: inline-block;
	border: 0;
	border-radius: 50%;
	background: transparent;
	padding: 0;
	margin: 0;
}

#mini-calendar-table > thead {
	font-weight: bold;
}

#mini-calendar-table #mini-next-month::before { content: "\e315"; }
#mini-calendar-table #mini-prev-month::before { content: "\e314"; }

#mini-calendar-table .dayAbbr th {
	color: rgba(0, 0, 0, .3);
	padding: 10px;
	font-size: 1.2em;
	height: 30px;
}

#mini-calendar-table > tbody {
	font-size: .8em;
}

#mini-calendar-table > tbody td {
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid transparent;
	width: 38px;
	height: 38px;
	padding: 0;
}

#mini-calendar-table > tbody > tr {
	position:relative;
}

#mini-calendar-table > tbody > tr::after { /* week-number */
	content: attr(data-week);
	position: absolute;
	/*top: 0;*/
	left: 0;
	display: inline;
	color: gray;
	font-size: .8em;
	font-family: inherit!important;
	font-weight: normal;
	background: linear-gradient( 135deg, #bbb, transparent 40% );
	border-top-left-radius: 5px;
	padding: 5px;
}

#mini-calendar-table > tbody td:hover {
	background-color: #eee;
}

#mini-calendar-table > tbody td.hasEvent {
	background-image: radial-gradient(50% 50%, var(--md-primary-color), transparent 65%);
}

#mini-calendar-table > tbody td.isPast {
	opacity: .8;
}

#mini-calendar-table > tbody td.isToday {
	font-weight: bold;
}

/* the calendar wrapper
--------------------------------------------- */
#cal-sizer {
	margin-left: 280px;
	margin-right: 0;
	transition: margin-left .3s ease;
}

/* the table --------------------------- */
#calendar-table {
	text-align: center;
	table-layout: fixed;
	border-collapse: collapse;
	height: calc(100vh - 110px);
	display: grid;
	/*grid-template-rows: 90px 1fr;*/
	grid-template-rows: min-content 1fr;
	padding: 0;
	empty-cells: hide;
	border-top: 1px solid silver;
	box-shadow: none;
	border-radius: 0;
}

#calendar-table thead,
#calendar-table tbody {
	display: none;
}

#calendar-table.table-day-mode .day-mode { display: grid; }
#calendar-table.table-month-mode .month-mode { display: grid; }
#calendar-table.table-year-mode .year-mode { display: grid; }


#calendar-table > thead > tr {
	display: grid;
	grid-template-columns: 50px 1fr;
	align-content: center;
	height: 45px;
}
#calendar-table > thead.year-mode > tr {
	grid-template-columns: 100%;
}

#calendar-table > thead > tr > td {
	padding: 5px;
}

#calendar-table > thead #changeYear,
#calendar-table > thead #changeMonth {
	text-align: left;
}

#calendar-table > thead #month,
#calendar-table > thead #day {
	text-align: right;
}

#mini-calendar-table > thead td button,
#calendar-table > thead button {
	border-radius: 50%;
	background: transparent;
	padding: 0;
	margin: 0 10px;
	border: 1px solid transparent;
	font-size: 1.5em;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	line-height: 1;
}

#calendar-table > thead td button:focus,
#calendar-table > thead td button:hover,
#mini-calendar-table > thead td button:focus,
#mini-calendar-table > thead td button:hover {
	background: rgba(0, 0, 0, .1);
}

#calendar-table > thead td button:active,
#mini-calendar-table > thead td button:active {
	background: rgba(0, 0, 0, .3);
}

#calendar-table #show-full-year::before,
#calendar-table #show-full-month::before {
	content: "\e5c4";
}

#calendar-table #next-day::before,
#calendar-table #next-month::before,
#calendar-table #next-year::before {
	content: "\e315";
}

#calendar-table #prev-day::before,
#calendar-table #prev-month::before,
#calendar-table #prev-year::before {
	content: "\e314";
}

#calendar-table > thead > tr.dayAbbr {
	grid-template-columns: repeat(7, auto);
}

#calendar-table .dayAbbr th {
	color: rgba(0, 0, 0, .3);
	padding: 10px;
	font-size: 1.2em;
}

#calendar-table > tbody {
	/*display: grid;*/
	grid-auto-rows: 1fr;
	font-weight: 300;
	max-height: 100%;
	padding-top: 5px;
}

#calendar-table > tbody > tr {
	display: grid;
	position: relative;
}

#calendar-table.table-month-mode > tbody tr {
	grid-template-columns: repeat(7, calc(100% / 7));
	min-height: 0;
	overflow: hidden;
}

#calendar-table.table-month-mode > tbody > tr::before { /* week-number on rows*/
	content: attr(data-week);
	position: absolute;
	color: gray;
	font-size: .8em;
	font-family: inherit!important;
	font-weight: normal;
	background: linear-gradient( 135deg, #bbb, transparent 40% );
	padding: 5px;
}

#calendar-table > tbody td {
	border: 1px solid #ddd;
	border-width: 1px 1px 0 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	transition: background-color .3s;
	position: relative;
}
#calendar-table.table-month-mode > tbody > tr > td:empty {
	visibility: hidden;
}

#calendar-table.table-month-mode > tbody > tr > td.hasEvent::after {
	content: "";
	position: absolute;
	background: linear-gradient(transparent, white 75%);
	color: black;
	font-family: inherit;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: +1;
	height: 1em;
}

#calendar-table.table-month-mode > tbody > tr > td:last-of-type {
	border-right: 0;
}

#calendar-table.table-month-mode > tbody > tr:last-of-type > td {
	border-top: 0;
}
#calendar-table.table-month-mode > tbody > tr:last-of-type {
	border-top: 1px solid #ddd;
}

#calendar-table.table-month-mode > tbody > tr > td:empty + td {
	border-left-width: 1px;
}

#calendar-table > tbody td:hover {
	background-color: #eee;
}

#calendar-table > tbody td.isToday {
	font-weight: bold;
}

/* the event labels in the calendar (only on "bigcalendar" display mode) */
#calendar-table > tbody span.eventLabel {
	background-color: red;
	font-weight: bold;
	text-align: left;
	font-size: .8em;
	padding: 2px;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	display: block;
	margin: 3px 1px;
	border-radius: 3px;
	box-shadow: 0 0 3px grey;
	border: 1px solid transparent;
	cursor: pointer;
	position: relative;
	z-index: +1;
	box-sizing: border-box;
	filter: saturate(.8);
}

#calendar-table.table-day-mode > tbody span.eventLabel {
	margin-right: calc( 20% + 2px);
	width: calc(36% - 2px);
}

#calendar-table > tbody span.eventLabel:hover {
	filter: saturate(1);
	z-index: +5;
	border: 1px solid white;
}

#calendar-table > tbody td.isPast > span.eventLabel {
	box-shadow: none;
	border-color: silver;
	color: inherit;
	font-weight: normal;
	filter: saturate(0);
}

#calendar-table > tbody time {
	margin: 0 5px 0 0;
}

/* Specific for calendar in year mode */
#calendar-table.table-year-mode > tbody {
	text-transform: uppercase;
	align-content: space-around;
	grid-auto-rows: auto;
}

#calendar-table.table-year-mode > tbody tr {
	grid-template-columns: repeat(4, auto);
	justify-content: space-around;
	border: none;
}

#calendar-table.table-year-mode > tbody > tr > td {
	padding: 50px;
	border: none;
	border-radius: 50%;
}

/* Specific for calendar in DAY mode */

#calendar-table.table-day-mode > thead {
	position: relative;
}

#calendar-table.table-day-mode > thead::after {
	content: "";
	display: block;
	background-color: transparent;
	height: 5px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 2;
	box-shadow: 0 3px 3px silver;
	left: 0;
}

#calendar-table.table-day-mode > tbody {
	overflow-y: scroll;
	position: relative;
}

#calendar-table.table-day-mode > tbody::before { /* scroll-shadow effect */
	content: "";
	display: block;
	background: linear-gradient(white 50%, transparent);
	border-top: 1px solid #ddd;
	height: 8px;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 2;
	left: 0;
}

#calendar-table.table-day-mode > tbody > tr {
	grid-template-columns: 100px 1fr;
	grid-template-rows: 45px
}

#calendar-table > tbody.day-mode > tr > td:first-of-type {
	cursor: pointer;
}
#calendar-table > tbody.day-mode > tr > td:nth-of-type(2):hover {
	background-color: inherit;
}

#calendar-table > tbody.day-mode > tr:first-of-type > td:first-of-type > span {
	display: none;
}

#calendar-table > tbody.day-mode > tr > td:first-of-type > span {
	background: linear-gradient(to right, transparent, white 25%, white 75%, transparent);
	transform: translateY( -50% );
	display: inline-block;
	vertical-align: middle;
	padding: 0px 15px;
}

/* the daily shedule list
-------------------------------*/

#daily-events-wrapper {
	border-top: 1px solid silver;
	padding: 20px;
	box-sizing: border-box;
}

#daily-events-wrapper > p {
	margin-top: 0;
}
#daily-events-wrapper > p > select {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #dadce0;
}
#daily-events {
	padding: 0;
}

#daily-events > div {
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	align-items: center;
	cursor: pointer;
}

#daily-events > div.futureEvent .eventDate {
}

#daily-events > div.pastEvent .eventSummary {
	color: rgba(0, 0, 0, .3);
}

#daily-events > div .eventDate > span {
	vertical-align: middle;
}

#daily-events > div .eventDate > .event-dd {
	font-size: 1.5em;
	display: inline-block;
	width: 2ch;
	text-align: center;
}

#daily-events > div .eventDate > .event-mmdd {
	text-transform: uppercase;
	font-size: .8em;
	color: rgba(0, 0, 0, .6);
	letter-spacing: .8px;
	margin: 0 10px;
	width: 8em;
	text-align: center;
	display: inline-block;
}

#daily-events > div .eventDate > .event-hhii {
	color: rgba(0, 0, 0, .7);
	margin: 0 20px 0 0;
	display: inline-block;
	width: 4.5ch;
}

#daily-events > div .eventSummary {
	flex: 1;
	padding: 0 0 0 10px;
}

#daily-events > div .eventSummary span {
	margin: 0 10px;
	hyphens: auto;
}

#daily-events > div .eventSummary span.color {
	width: 20px;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: 0 0 3px silver inset;
}

#daily-events > div > .eventSummary {
	font-weight: bold;
	color: rgba(0, 0, 0, .8);
}

#daily-events > div > .eventSummary > .content {

}

#daily-events > div > .eventSummary > .loc {
	opacity: .8;
}


/* the display-event popup
----------------------------------------------- */
#popup.popup-event > .event-title > span.event-color {
	display: inline-block;
	width: 17px;
	background-color: white;
	height: 17px;
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 0 0 3px silver inset;
}

#popup.popup-event > .event-title > span.event-name {
	font-size: 1.3em;
	letter-spacing: 1px;
}

#popup.popup-event > .event-content ul {
	line-height: 1.4em;
	list-style-type: none;
	padding: 10px 0 10px 60px;
	margin: 0;
}

#popup.popup-event > .event-content ul > li {
	white-space: pre-line;

	padding: 10px 0;
	margin: 0;
	position: relative;
}

#popup.popup-event > .event-content ul > li::before {
	font-size: 1.4em;
	position: absolute;
	left: -40px;
	top: 10px;
	color: rgba(0, 0, 0, .4);
}

#popup.popup-event .event-time::before        { content: "\e192"; }
#popup.popup-event .event-loc::before         { content: "\e567"; }
#popup.popup-event .event-description::before { content: "\e0d8"; }

#popup.popup-event .event-time span {
	display: block;
}

#popup.popup-event .event-time span:not(:first-of-type) {
	color: rgba(0, 0, 0, .4);
	font-size: .9em;
}


/* popup for editing an event
------------------------------------------ */
#popup.popup-edit-event .event-title {
	padding-top: 0;
	padding-bottom: 0;
}

#popup.popup-edit-event > .event-title > button.event-color {
	display: inline-block;
	width: 25px;
	background-color: white;
	height: 25px;
	border-radius: 5px;
	box-shadow: 0 0 3px silver inset;
	border: 0;
	padding: 0;
	margin: 0;
}

#popup.popup-edit-event .colors {
	display: none;
	position: absolute;
	list-style: none;
	height: 95px;
	width: 95px;
	left: 4px;
	top: 4px;
	margin: 0;
	padding: 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	font-size: 0;
	z-index: +2;
}

#popup.popup-edit-event .event-color:focus + .colors,
#popup.popup-edit-event .colors:hover {
	display: block;
}

#popup.popup-edit-event .colors > li {
	box-sizing: border-box;
	border: 1px silver solid;
	cursor: pointer;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 50%;
	margin: 5px 0 0 5px;
}

#popup.popup-edit-event .colors > li:hover {
	opacity: .95;
	border-color: gray;
}

#popup.popup-edit-event li > button:focus,
#popup.popup-edit-event li > button::-moz-focus-inner {
	background-color: rgba(0, 0, 0, .05);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	outline: none;
	border-color: transparent;
}

#popup.popup-edit-event .event-title .text {
	background-color: transparent;
	font-weight: 400;
	font-size: 1.3em;
	width: 100%;
	box-shadow: none;
	letter-spacing: 1px;
	border: none;
}

#popup.popup-edit-event .event-content > div {
	position: relative;
	padding: 15px 15px 15px 60px;
}

#popup.popup-edit-event .event-content > div > p:first-of-type {
	margin-right: 55px;
}

#popup.popup-edit-event .event-content > div::before {
	font-size: 1.4em;
	position: absolute;
	left: 20px;
	color: rgba(0, 0, 0, .5);
	padding: 15px 0;
}

#popup.popup-edit-event .event-content-date::before  { content: "\e192"; }
#popup.popup-edit-event .event-content-loc::before   { content: "\e567"; }
#popup.popup-edit-event .event-content-descr::before { content: "\e0d8"; }

#popup.popup-edit-event .event-content-date p {
	display: flex;
}

#popup.popup-edit-event .event-content-date label[for="date"] {
	flex: 1;
}

#popup.popup-edit-event .event-content-date > .date-time-input > label[for^="time"]::before {
	position: relative;
	left: 25px;
	z-index: +5;
}

#popup.popup-edit-event .event-content-date > .date-time-input > label[for="time-start"]::before { content: "\e5d8"; }
#popup.popup-edit-event .event-content-date > .date-time-input > label[for="time-end"]::before { content: "\e5db"; }

#popup.popup-edit-event .event-content-date > .date-time-input > label[for^="time"] > input {
	padding-left: 25px;
}

#popup.popup-edit-event .event-content-date > .date-time-input.date-only > label[for^="time"] {
	display: none;
}

#popup.popup-edit-event .event-content-loc .text,
#popup.popup-edit-event .event-content-descr .text {
	width: 100%;
}

#popup.popup-edit-event .event-content-descr .text {
	height: 100%;
	resize: vertical;
}

#popup.popup-edit-event #allDay+label {
	flex: 1;
}

#popup.popup-edit-event .popup-footer {
	justify-content: flex-end;
}



