/* ECRIRE
---------------------------------------------------------------------------------- */

/* apercu */
#apercu,
#form-ecrire {
	padding: 0 0 1px;
	clear: both;
}

#apercu {
	margin-bottom: 15px;
}

#apercu > h2 {
	background: #f0f0f0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

#apercu > div {
	margin: 20px;
}

#apercu blockquote,
.link-content blockquote,
.commentbloc .comm-content blockquote {
	padding: 10px 10px 10px 15px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#apercu pre,
.link-content pre,
.commentbloc .comm-content pre {
	padding: 0;
	white-space: pre-wrap;
	font-size: .8em;
	position: relative;
	display: flex;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#apercu pre[data-language]::before,
.link-content pre[data-language]::before,
.commentbloc .comm-content pre[data-language]::before {
	content: attr(data-language);
	display: block;
	padding: 15px 2px;
	background: rgba(0, 0, 0, .1);
	flex: 0 0 45px;
	text-align: center;
	font-family: inherit;
}

#apercu pre > code,
.link-content pre > code,
.commentbloc .comm-content pre > code {
	flex: 1 1 auto;
	display: block;
	padding: 15px;
}

#apercu img {
	padding: 2px;
	border: 1px solid #ddd;
	max-width: 100%;
	height: auto;
}

#form-ecrire {
	display: flex;
}

#form-ecrire textarea {
	resize: vertical;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;

}

#form-ecrire .main-form {
	flex: 1 1 auto;
	padding: 0;
}
#form-ecrire .main-form .text {
	width: 100%;
}

#titre {
	font-weight: bold;
	font-size: 1.15em;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#chapo_note {
	display: flex;
}

#chapo_note > textarea {
	width: auto;
	min-width: 0;
}

#form-ecrire #chapo {
	flex: 2 2 auto;
	border-right: 1px solid silver;
}
#form-ecrire #notes {
	flex: 1 2 auto;
}

#type_tags,
#mots_cles {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#form-ecrire .main-form > *:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#content_format {
	position: relative;
	z-index: 1;
}

/* Boutons de formatage  */
p.formatbut {
	margin: 0;
	padding: 5px;
	background: #f5f5f5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: +3;
}

.formatbut .but {
	padding: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	border: 1px solid transparent;
	border-radius: 4px;
}

.formatbut .but:hover {
	transition: border-color .3s;
	border-color: silver;
}

.formatbut .but:active {
	border-color: gray;
	background: #cde6ff;
	background: linear-gradient(to top, white, #d6d6d6);
}

.formatbut span.spacer {
	margin: 0 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.formatbut > .but::before {
	font-size: 1.4em;
	display: block;
	padding: 5px;
}

#button01::before { content: "\e238"; }  /* bold */
#button02::before { content: "\e23f"; }  /* ital */
#button03::before { content: "\e249"; }  /* underline */
#button04::before { content: "\e246"; }  /* strike */
#button05::before { content: "\e236"; }  /* left align */
#button06::before { content: "\e234"; }  /* center align */
#button07::before { content: "\e234"; }  /* right align */
#button08::before { content: "\e235"; }  /* justify */
#button09::before { content: "\e250"; }  /* link */
#button10::before { content: "\e244"; } /* quote */
#button11::before { content: "\e251"; } /* image */
#button12::before { content: "\e86f"; } /* code */
#button13::before { content: "\e23c"; } /* color edit */
#button14::before { content: "\e245"; } /* font size edit */
#button15::before { content: "\e24a"; } /* unicode char insert */
#button16::before { content: "\e241"; } /* ul list */
#button17::before { content: "\e242"; } /* ol list */
#button18::before { content: "\e8ce"; } /* autocorrect */
#button19::before { content: "\e5d0"; } /* fullscreen */

#button19 { float: right; }

.but-dropdown {
	position: relative;
}

.but-dropdown .list {
	display:none;
	padding: 3px;
	background-color: white;
	width: 140px;
	position: absolute;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
}

.but-dropdown:hover .list {
	display: block;
}

/* list colors */
.but-dropdown .list-color {
	font-size: 0;
}

.but-dropdown .list-color button {
	display: inline-block;
	background: white;
	margin: 3px;
	width: 22px;
	height: 22px;
	border: 1px solid silver;
	border-radius: 50%;
}

.but-dropdown .list-color button:hover {
	border-color: gray;
}

/* list sizes */
.but-dropdown .list-size {
	width: 180px;
	padding-left: 0;
	padding-right: 0;
}

.but-dropdown .list-size button {
	padding: 10px;
	text-align: left;
	background: white;
	width: 100%;
	border: 0px solid transparent;
}

.but-dropdown .list-size button:hover {
	background-color: #ddd;
}

/* list caractères unicodes */
.but-dropdown .list-spechr {
	text-align: left;
	width: 364px;
	padding: 3px 3px 1px;
}

.but-dropdown .list-spechr button {
	background: white;
	margin: 0 2px 2px 0;
	width: 26px;
	padding: 0;
	height: 26px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
}

.but-dropdown .list-spechr button:hover {
	background-color: #ddd;
}

#form-ecrire .main-form #contenu {
	padding-top: 57px;
}

/* fullscreen textarea */
#form-ecrire.fullscreen_text #content_format {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	height: 100%;
}

#form-ecrire.fullscreen_text #content_format .formatbut {
	text-align: center;
	background-color: white;
	color: rgba(0, 0, 0, .4);
}

#form-ecrire.fullscreen_text #content_format #button19::before {
	content: "\e5d1";
}

#form-ecrire.fullscreen_text #content_format .formatbut:hover {
	color: rgba(0, 0, 0, .7);
}

#form-ecrire.fullscreen_text #content_format #contenu {
	font-size: 1.3em;
	padding: 80px 40px 40px;
	height: 100%;
}

/* tags
-------------------------------------------- */
#form-ecrire #wrap {
	padding: 0;
	margin: 0;
}

#tag_bloc {
	display: flex;
	border-bottom: 1px solid silver;
	align-items: center;
}

#selected {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#selected > li {
	display:inline-block;
	padding: 5px 10px;
	color: #333;
	background: #eee;
	border: 1px solid silver;
	border-radius: 20px;
	margin: 5px;
}

#selected li:first-of-type {
	margin-left: 15px;
}

#selected > li > a {
	color: inherit;
	margin-left: 8px;
	text-decoration: none;
}

#selected > li:hover > a {
	color: crimson;
}

#type_tags {
	flex: 1 1 100px;
	justify-content: flex-start;
	border: none;
}

/* boutons d’options et date */
#form-ecrire #date-and-opts {
	flex: 0 0 300px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
}

#date-and-opts > div:last-of-type {
	flex: 1;
}

#datetime input {
	background: #FAFAFA;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	border: 0;
	padding: 13px 12px;
}

#date-and-opts > div > span {
	display: block;
	margin: 0 0 30px;
}

#formstatut > select {
	margin-right: 0;
}

#date-and-opts > div > span::before {
	font-size: 1.4em;
	margin-right: 15px;
}

#formdate::before {
	content: "\e935";
	color: rgba(252, 101, 101, 1);
}

#formheure::before {
	content: "\e192";
	color: rgba(50, 50, 50, 1);
}

#formstatut::before {
	content: "\e8f4";
	color: rgba(55, 110, 250, 1);
}

#formallowcomment::before {
	content: "\e253";
	color: rgba(101, 234, 143, 1);
}

#form-ecrire .submit-bttns {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

#form-ecrire .button-delete {
	min-width: 100px;
	float: none;
	background-color: rgba(244, 67, 54, .1);
}

#form-ecrire:invalid .button-submit {
	color: #aaa;
	background: #ddd;	
	box-shadow: none;
}

