@media (max-width: 700px) {
	#header {
		position: relative;
	}
	#titre-page > a {
		display: inline;
	}

	#axe {
		padding: 10px 2px;
	}

	#subnav #form-filtre::before {
		position: relative;
		font-size: 2em;
		display: inline-block;
		width: 0;
		left: 5px;
	}

	#subnav form select {
		width: 0;
		background-color: white;
		padding-left: 80px;
		background-position: 80% 50%;
		background-size: 40px;
		border-radius: 5px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	}

	#fab {
		right: 20px;
		bottom: 20px;
	}

	/* page écrire */
	#form-ecrire .main-form .formatbut {
		height: 120px;
	}

	#form-ecrire .main-form .formatbut .but-dropdown {
		position: static;
	}

	#form-ecrire .main-form .formatbut > .but-dropdown > .list {
		right: 5px;
		left: 5px;
		width: auto;
	}

	#form-ecrire .main-form #contenu {
		padding-top: 134px;
	}

	#form-ecrire #date-and-opts {
		margin-left: 0;
		margin-top: 15px;
	}

	.button-delete, .button-submit, .button-cancel {
		min-width: 0;
		padding: 5px;
	}

	/* comms */
	.commentbloc {
		flex-direction: column;
	}

	.commentbloc > .comm-side-icon {
		flex: 0 0 auto;
		z-index: 1;
	}

	.commentbloc .comm-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.commentbloc .comm-title > img {
		margin: 0;
	}

	.commentbloc .webpage a,
	.commentbloc .email a,
	.commentbloc .reply {
		opacity: 1;
	}

	.commentbloc .comm-main-frame {
		margin-left: 25px;
	}

	.commentbloc .comm-options,
	.commentbloc .webpage a,
	.commentbloc .email a,
	.commentbloc .reply {
		visibility: visible;
	}

	.commentbloc .comm-side-icon .date {
		font-size: .6em;
	}

	.commentbloc .comm-content blockquote {
		margin: auto 5px;
	}

	/* links */
	/*.linkbloc .link-footer {
		display: block;
	}*//

	#post-new-lien, #post-new-note {
		margin: 30px auto 50px;
	}

	/* file edit */
	#fichier-meta-info {
		margin: 20px 0;
		word-wrap: break-word;
		word-break: break-all;
	}

	/* preferences */
	#preferences p {
		display: block;
		margin: 15px;
	}

	#preferences label {
		width: 195px;
		text-align: left;
		display: inline-block;
	}

	#preferences select {
		max-width: 90px;
		padding: 15px 10px 15px 0;
	}

	#preferences .text,
	#preferences textarea.text {
		width: 100%;
		display: block;
	}

	/* maintenance */
	#maintenance-form fieldset {
		max-width: 100%;
	}

	#maintenance-form p > label {
		display: inline;
		width: auto;
		text-align: left;
		padding-right: 0;
	}

	/* paged des RSS */
	#sub-menu {
		padding: 0 10px;
	}
	#feed-list {
		transform: translateX(-320px);
		overflow-y: scroll;
	}
	#rss-list {
		margin-right: 5px;
		margin-left: 5px;
	}
	#feed-list.hidden-list {
		transform: translateX(0px);
	}

	#feed-list.hidden-list + #rss-list {
		margin-left: 5px;
		display: none;
	}

	#body.feeds #fab {
		left: -82px;
	}
	#feed-list.hidden-list ~ #fab {
		left: 198px;
	}


	#post-list > li {
		padding: 0 5px 0 0;
	}
	#post-list > li > .post-head {
		flex-wrap: wrap;
	}
	#post-list > li > .post-head > .site,
	#post-list > li > .post-head > .folder {
		display: none;
	}
	#post-list > li > .post-head > .post-title,
	#post-list > li > .post-head > .post-title:hover {
		flex: 1 1 250px;
	}
	#post-list > li > .post-head > .meta {
		margin-left: 10px;
	}
	#post-list > li .post-head .date {
		flex: 1 0 auto;
		text-align: right;
	}

	/* page fichiers */
	#file-list td:nth-of-type(3),
	#file-list th:nth-of-type(3) {
		display: none;
	}

	/* page agenda */
	#calendar-table {
		padding: 5px 0;
		border-spacing: 0px;
	}
	#calendar-table > tbody span.eventLabel {
		padding: 2px 0;
		margin: 2px 0;
		border-width: 1px 0;
	}

	#calendar-table.table-month-mode > tbody span.eventLabel {
		box-shadow: none;
	}

	#calendar-table > tbody time {
		display: none;
	}

	#daily-events-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	#daily-events > div {
		padding-left: 10px;
		padding-right: 10px;
	}
	#daily-events > div .eventDate {
		grid-column-gap: 10px;
	}
	#daily-events > div .eventDate > .event-hhii {
		font-size: .8em;
	}
	#side-nav {
		margin-right: 5px;
		transform: translateX(-280px);	
	}
	#cal-sizer {
		margin-left: 0px;
	}

	#calendar-table {
		height: calc(100vh - 108px);
	}
	#side-nav.hidden-sidenav {
		transform: translateX(0px);
	}

	#side-nav.hidden-sidenav + #cal-sizer {
		margin-left: 5px;
		display: none;
	}

	#calendar-table.table-year-mode > tbody > tr > td {
		padding: 18px;
	}

}

