@media (max-width: 850px) {

	select {
		max-width: 100%;
	}

	body {
		padding-top: 0;
	}

	/* TOP
	------------------------------------------------------*/
	#top {
		padding: 8px;
	}

	#titre-page {
		font-size: 1.2em;
	}

	/* icon sizes */
	#hide-side-nav:before,
	#nav::before,
	#notif-icon::before,
	#nav-acc::before {
		width: 36px;
		line-height: 36px;
	}

	#search {
		flex: 0 0 36px;
		background-color: transparent;
		margin: 0;
		overflow: hidden;
		color: inherit;
	}

	#search #q { /* normal */
		width: 36px;
		height: 48px;
		position: absolute;
		opacity: 0;
	}

	#label_q {
		order: 2;
	}

	#search #q:focus,
	#search #q[value=""]:focus,
	#search #q:not([value=""]) { /* focus OR not empty (a search is done) */
		border-radius: 3px;
		width: calc( 100% - 8px - 36px - 13px - 36px - 36px - 8px );
		right: calc( 13px + 36px + 36px + 36px + 8px);
		transition: 0s;
		padding: 5px 10px;
		opacity: 1;
		color: black;
	}

	#search:hover #label_q:active,
	#search #q:focus+#label_q,
	#search #q:not([value=""])+#label_q {
		position: static;
		transition: 0s;
		color: black;
		z-index: 2;
	}

	#nav > ul::before {
		right: 82px;
	}

	#notif-icon > ul::before {
		right: 46px;
	}

	#nav-acc > ul::before {
		right: 10px;
	}

	/* ----------------------------------------------------------
	liste fichiers */

	#image-wall {
		text-align: center;
	}

	#file-list td {
		padding: 5px;
	}

	#file-list td:nth-of-type(4),
	#file-list th:nth-of-type(4) {
		display: none;
	}

	#file-list td img {
		vertical-align: middle;
		width: 20px;
	}

	#file-list tr td:nth-of-type(1) {
		padding-left: 10px;
		width: 20px;
	}

	#file-list tr td:nth-of-type(5),
	#file-list tr td:last-of-type {
		padding-left: 5px;
	}

	#file-list tr td:last-of-type {
		padding-right: 5px;
	}

	/* form post liens */
	#post-lien {
		width: auto;
	}

	/* graphs */
	#graphs {
		display: block;
		justify-content: space-between;
		margin-top: 40px;
	}

	#graphs .graph {
		padding-bottom: 20px;
		margin-bottom: 60px;
		width: auto;
	}

	/* liste des articles */
	.billets > li {
		flex-wrap: wrap;
		padding: 5px;
	}

	.billets > li > a {
		font-size: .7em;
		padding: 5px 0;
	}

	.billets > li > a.titre {
		padding-top: 0;
		line-height: 45px;
		font-size: 1em;
		flex-basis: 100%;
		margin-left: -6px;
	}

	.billets > li > a.titre::before {
		margin-right: 10px;
	}

	.billets > li > a.date {
		flex: 1;
	}

	/* page des notes */
	#list-notes {
		display: block;
	}

	#list-notes .notebloc {
		display: block;
		height: auto;
		width: auto;
		font-size: 1em;
		margin: 15px 0;
		max-height: 500px;
	}

	#list-notes	.notebloc .content {
		padding: 0 15px;
	}

	#popup-wrapper {
		padding: 0;
	}

	#popup {
		border-radius: 0;
	}


	/* AGENDA */
	#popup.popup-edit-event .event-content-descr {
		flex: 1;
	}

	#popup.popup-edit-event .event-content-descr .text {
		height: 100%;
		width: 100%;
	}

	#popup.popup-edit-event .event-content-date p {
		padding: 20px 0px 0;
	}
	#popup.popup-edit-event .event-content-date > .date-time-input > label[for^="date"] > input {
		padding-left: 5px;
		padding-right: 5px;
	}
	#popup.popup-edit-event .event-content-date > .date-time-input > label[for^="time"]::before {
		left: 10px;
	}
	#popup.popup-edit-event .event-content-date > .date-time-input > label[for^="time"] > input {
		padding-left: 5px;
		padding-right: 0px;
	}

	#popup.popup-edit-event .event-content > div {
		padding-left: 25px;
	}

	#popup.popup-edit-event .event-content > div::before {
		left: 0;
	}


	#daily-events > div .eventDate {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		align-items: center;
		justify-items: center;
		grid-gap: 2px 20px;
	}
	#daily-events > div .eventDate > .event-dd {
		grid-column: 1;
		grid-row: 1 / span 2;
	}
	#daily-events > div .eventDate > .event-mmdd {
		grid-column: 2;
		grid-row: 1;
		width: auto;
		margin: 0;
	}
	#daily-events > div .eventDate > .event-hhii {
		grid-column: 2;
		grid-row: 2;
		width: auto;
		margin: 0;
	}
	#daily-events > div .eventSummary {
		display: flex;
	}

	#daily-events > div .eventSummary .loc,
	#daily-events > div .eventSummary .content {
		display: none;
	}


	/* FORM ECRIRE */
	#form-ecrire {
		display: block;
	}

	#form-ecrire .main-form #contenu {
		padding-top: 84px;
	}

	/* Contacts */
	#table-contacts tr > .tel,
	#table-contacts tr > .email,
	#table-contacts tr > .label,
	#table-contacts tr > .buttons {
		display: none;
	}

	#popup-wrapper > #popup {
		height: 100%;
		width: 100%;
		min-width: 0;
		max-height: none;
		animation: none;
	}

}

