@media (max-width: 850px) {

	select {
		max-width: 100%;
	}

	body {
		padding-top: 0;
	}

	/* TOP
	------------------------------------------------------*/
	#top {
		padding: 8px;
	}

	#search {
		flex: 0 0 48px;
		background-color: transparent;
		margin: 0;
		overflow: hidden;
		color: inherit;
	}

	#search #q { /* normal */
		width: 48px;
		height: 48px;
		position: absolute;
		opacity: 0;
	}

	#label_q {
		order: 2;
	}

	#search #q:focus,
	#search #q[value=""]:focus,
	#search #q:not([value=""]) { /* focus OR not empty (a search is done) */
		border-radius: 3px;
		width: calc( 100% - 8px - 48px - 13px - 48px - 48px - 8px );
		right: 165px;
		transition: 0s;
		padding: 5px 10px;
		opacity: 1;
		color: black;
	}

	#search:hover #label_q:active,
	#search #q:focus+#label_q,
	#search #q:not([value=""])+#label_q {
		position: static;
		transition: 0s;
		color: black;
		z-index: 2;
	}

	#nav > ul::before {
		right: 113px;
	}

	#notif-icon > ul::before {
		right: 64px;
	}

	/* liste fichiers */
	#image-wall {
		text-align: center;
		padding: 10px;
	}

	#image-wall .image_bloc {
		width: 147px;
		height: 147px;
		line-height: 147px;
	}

	#file-list td {
		padding: 5px;
	}

	#file-list td:nth-of-type(4),
	#file-list th:nth-of-type(4) {
		display: none;
	}

	#file-list td img {
		vertical-align: middle;
		width: 20px;
	}

	#file-list tr td:nth-of-type(1) {
		padding-left: 10px;
		width: 20px;
	}

	#file-list tr td:nth-of-type(5),
	#file-list tr td:last-of-type {
		padding-left: 5px;
	}

	#file-list tr td:last-of-type {
		padding-right: 5px;
	}

	/* form post liens */
	#post-lien {
		width: auto;
	}

	/* graphs */
	#graphs {
		display: block;
		justify-content: space-between;
		margin-top: 40px;
	}

	#graphs .graph {
		padding-bottom: 20px;
		margin-bottom: 60px;
		width: auto;
	}

	/* liste des articles */
	.billets > li {
		flex-wrap: wrap;
		padding: 5px;
	}

	.billets > li > a {
		font-size: .7em;
		padding: 5px 0;
	}

	.billets > li > a.titre {
		padding-top: 0;
		line-height: 45px;
		font-size: 1em;
		flex-basis: 100%;
		margin-left: -6px;
	}

	.billets > li > a.titre::before {
		margin-right: 10px;
	}

	.billets > li > a.date {
		flex: 1;
	}

	/* page des notes */
	#list-notes {
		display: block;
	}

	#list-notes .notebloc {
		display: block;
		height: auto;
		width: auto;
		font-size: 1em;
		margin: 15px 0;
		max-height: 500px;
	}

	#list-notes	.notebloc .content {
		padding: 0 15px;
	}

	#popup-wrapper {
		padding: 0;
	}

	#popup.popup-note {
		height: 100%;
		width: 100%;
		animation: none;
	}

	/* AGENDA */
	#popup.popup-event,
	#popup.popup-edit-event {
		height: 100%;
		width: 100%;
		min-width: 0;
		animation: none;
	}

	#popup.popup-edit-event {
		display: flex;
		flex-direction: column;
	}

	#popup.popup-edit-event .event-content-descr {
		flex: 1;
	}

	#popup.popup-edit-event .event-content-descr .text {
		height: 100%;
		width: 100%;
	}

	#cal-row {
		flex-direction: column;
	}

	#daily-events-wrapper {
		margin: 30px 0;
	}

	/* FORM ECRIRE */
	#form-ecrire {
		display: block;
	}

	#form-ecrire .main-form #contenu {
		padding-top: 84px;
	}

}

