/* COMMENTAIRES
-------------------------------------------------------------------------------- */


.commentbloc {
	margin: 20px auto;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	display: flex;
}

.commentbloc:target {
	padding-top: 84px;
	margin-top: -84px;
}

.commentbloc .comm-side-icon {
	flex: 0 0 160px;
	text-align: center;
}

.commentbloc:not(:last-of-type) .comm-side-icon::after {
	content: "";
	background-color: rgba(0, 0, 0, .05);
	display: block;
	width: 6px;
	height: 20%;
	height: calc(100% - 120px);
	position: relative;
	margin: 0 auto;
	top: 10px;
}

.commentbloc .comm-side-icon img {
	margin: 10px auto;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	width: 48px;
}

.commentbloc .comm-main-frame {
	position: relative;
	padding: 0;
	flex: 1;
	min-width: 0;
	border-radius: 3px;
}

.comm-main-frame::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
	z-index: -1;
	border-radius: inherit;
}

.commentbloc:hover .comm-main-frame::after {
  opacity: 1;
}

.commentbloc .comm-header,
.commentbloc .comm-content,
.commentbloc .comm-comment {
	padding: 15px;
}

.commentbloc .comm-header {
	display: flex;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.commentbloc .webpage a,
.commentbloc .email a,
.commentbloc .reply {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	opacity: .1;
}

.commentbloc .webpage a::before,
.commentbloc .email a::before,
.commentbloc .reply::before {
	font-size: 20px;
	color: rgba(0, 0, 0, .5);
}

.commentbloc .reply::before {     content: "\e15e"; }
.commentbloc .email a::before {   content: "\e0be"; }
.commentbloc .webpage a::before { content: "\e80b"; }

.commentbloc:hover .webpage a,
.commentbloc:hover .email a,
.commentbloc:hover .reply {
	opacity: 1;
}

.commentbloc .author {
	font-weight: bold;
}

.commentbloc .author a,
.commentbloc .author a:hover,
.commentbloc:hover .author a {
	color: inherit;
	text-decoration: none;
}

.commentbloc .comm-header .link-article {
	flex: 1 1 auto;
	text-align: right;
	color: gray;
	margin-right: 10px;
	font-style: italic;
}

.commentbloc .comm-side-icon .date {
	color: gray;
	display: block;
	font-size: .8em;
}

.commentbloc .comm-side-icon .date span {
	display: block;
}

.commentbloc a {
	color: inherit;
	transition: color 0.3s ease-in-out 0s;
}

/* com options button */
.item-menu-options {
	z-index: 4;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	z-index: 20;
}

.item-menu-options::before {
	content: "\e5d4";
	font-size: 1.7em;
	cursor: pointer;
}

.item-menu-options > ul {
	right: 9999px;
	position: absolute;
	top: -10px;
	background: white;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: top .2s .3s ease-in, opacity .2s .3s ease-in, right ease-out 0s .5s;
}

.item-menu-options:hover ul {
	right: 5px;
	opacity: 1;
	top: 5px;
	transition: top .2s ease-in .05s, opacity .2s ease-in .05s, right 0s ease-out .05s;
}

.item-menu-options > ul > li {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.item-menu-options > ul > li:hover {
	background: #f5f5f5;
}

.item-menu-options > ul > li > button,
.item-menu-options > ul > li > a {
	color: inherit;
	text-decoration: none;
	padding: 10px 100px 10px 40px;
	display: block;
	border: 0;
	background-color: transparent;
	font-weight: inherit;
	width: 100%;
	text-align: left;
}

.commentbloc .comm-content p:first-of-type { margin-top: 0; }
.commentbloc .comm-content p:last-of-type { margin-bottom: 0; }

/* desactivated comments */
.privatebloc .comm-main-frame {
	background: rgba(0, 0, 0, .03);
}
.privatebloc .comm-side-icon {
	filter: saturate(0) contrast(0.6) opacity(.6);
}

.privatebloc h3, .privatebloc h3 a {
	font-style: italic;
}

.privatebloc a, .privatebloc:hover a {
	color: black;
}

/* Commentbloc on Hover */
.commentbloc:hover .comm-content a {
	color: #45a6ff;
}

/* Comment form */
.comm-main-frame > #form-commentaire {
	margin: 15px;
}

#form-commentaire .formatbut {
	border: 1px solid silver;
	border-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: +3;
}

#form-commentaire .field {
	position: relative;
}

#form-commentaire textarea.text {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding-top: 57px;
}

#form-commentaire .infos {
	margin: 15px auto 0;
	max-width: 660px;
}

#form-commentaire .infos > span {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

#form-commentaire span > input.text {
	flex: 1;
	padding: 10px 0 10px 40px;
	margin-left: -40px;
}

#form-commentaire label {
	overflow: hidden;
	color: rgba(0, 0, 0, .5);
	font-size: 0;
	position: relative;
	z-index: 2;
}

#form-commentaire label::before {
	font-size: 1.4rem;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#form-commentaire label[for^="auteur"]::before  { content: "\e7fd"; }
#form-commentaire label[for^="email"]::before   { content: "\e0be"; }
#form-commentaire label[for^="webpage"]::before { content: "\e80b"; }

/* New Comment */
#post-nv-commentaire {
	margin-top: 35px;
}

#post-nv-commentaire h2 {
	margin: 0;
	font-size: 1.1em;
	text-transform: uppercase;
}

#post-nv-commentaire #form-commentaire {
	margin-top: 15px;
}

/* ajax loading animation */
.ajaxloading .comm-main-frame::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(255, 255, 255, .5);
}

.ajaxloading .comm-main-frame::after {
	content: "";
	z-index: +1;
	height: 20px;
	width: 20px;
	border: 4px solid rgba(0, 0, 0, .1);
	border-top-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	animation: spinnerLoading 0.6s infinite linear;
	top: calc(50% - 15px);
	box-shadow: none;
	left: calc(50% - 15px);
}

/* Ajax removing comment animation (vertical) */
.deleteFadeOut {
	opacity: 1;
	animation: disapear .6s;
}

/* Ajax removing comment animation (Horizontal) */
.deleteFadeOutH {
	opacity: 1;
	animation: disapearH .6s;
}

