/* FORMULAIRE IMAGE
---------------------------------------------------------------------------------- */
/* IMAGES : DnD area */
#form-image #dragndrop-area {
	background: #f5f5f5;
	border: 1px dashed gray;
	padding: 15px;
	border-radius: 6px;
	color: rgba(0, 0, 0, .4);
}

#form-image #dragndrop-area > p {
	text-align: center;
}

/* IMAGES : DnD area : ondrag-style */
#form-image #dragndrop-area.fullpagedrag {
	background: rgba(84, 145, 245, .3);
	border-color: #0061FF;
}

#form-image #dragndrop-area.fullpagedrag > :nth-child(n+2) {
	visibility: hidden;
}

#form-image #dragndrop-area.fullpagedrag::before {
	content: "";
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: inherit;
	opacity: .3;
}

#form-image .fullpagedrag #dragndrop-title {
	color: inherit;
	pointer-events: none;
}

/* IMAGES : DnD area : Title bloc */
#form-image #dragndrop-title {
	font-size: 160%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

#form-image .upload-info {
	font-size: .7em;
	padding-top: 1em;
}

/* IMAGES : DnD area : Manual select form */
#form-image #file-input-wrapper {
	margin: 40px auto 20px;
	display: flex;
	justify-content: center;
}
#form-image #fichier {
	order: 1;
}

#form-image #file-input-wrapper > label::before {
	content: "\e43e";
	width: 40px;
	height: 40px;
	background: var(--md-secondary-color);
	border-radius: 50%;
	color: var(--scnd-md-text-color);
	display: block;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	text-align: center;
	font-size: 1.6em;
	line-height: 40px;
	cursor: pointer;
}

#form-image #file-input-wrapper > label:active::before {
	transform: scale(1.1);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}

#form-image #fichier[type="file"] {
	order: 1;
	background: transparent;
	width: 0;
	padding: 0;
	border: 0;
}

#form-image #fichier[type="file"][required]:valid {
	width: auto;
	padding: 0;
	border: 0;
}

#form-image #fichier[type="url"] {
	width: 60%;
}

#form-image #fichier[type="url"] + label {
	display: none;
}

#click-change-form {
	text-transform: none;
}

/* IMAGES : transfert progression box */

#count {
	text-align: center;
	padding: 20px 0;
}
#count.spinning::before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 4px solid rgba(0, 174, 239, 0.4);
	border-top-color: rgba(0, 174, 239, 1);
	border-radius: 50%;
	animation: spinnerLoading 0.6s infinite linear;
}

/* IMAGES : name, descr, album, private info-fields */
#img-others-infos p:not(.submit-bttns) {
	display: flex;
	width: 660px;
	max-width: 100%;
	margin: auto;
	flex-direction: row-reverse;
}

#img-others-infos label:not([for="statut"]) {
	overflow: hidden;
	color: rgba(0, 0, 0, .5);
	font-size: 0;
	z-index: 2;
}

#img-others-infos label:not([for="statut"])::before {
	font-size: 1.4rem;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#img-others-infos label[for^="nom_entree"]::before  { content: "\e892"; }
#img-others-infos label[for^="description"]::before { content: "\e0d8"; }
#img-others-infos label[for^="dossier"]::before     { content: "\e2c7"; }

#img-others-infos label[for="statut"] {
	margin: 20px;
}

#img-others-infos .text {
	flex: 1;
	padding: 10px 0 10px 40px;
	min-width: 0;
	margin-left: -40px;
}

#onclicshow {
	display: none;
}

/* IMAGES : on edit page : forms */
#form-image .display-media {
	text-align: center;
	margin: 20px auto 40px;
	max-width: 700px;
}

#form-image .display-media .media {
	padding: 10px;
	background: #FFF;
	box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.4);
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

#interg-codes {
	margin: 30px 6%;
}

#interg-codes input.text {
	width:99%;
	padding-left: 0;
}

#fichier-meta-info {
	margin: 20px 6%;
	display: inline-block;
	padding: 5px;
	list-style: outside none none;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	background: #fdfdfd;
}

/* IMAGES : on drop, file boxes wth status */
#result .fileinfostatus {
	padding: 10px;
	margin: 5px auto 0;
	max-width: 600px;
	border-radius: 3px;
	display: flex;
}

#result .fileinfostatus .filelink:not([href]) {
	display: none;
}

#result .fileinfostatus .filename,
#result .fileinfostatus .filelink {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 100 1 0;
}

#result .fileinfostatus > span,
#result .fileinfostatus > a {
	margin: 5px;
	white-space: nowrap;
}

#result .fileinfostatus .uploadstatus {
	font-weight: bold;
}

#result .success {
	background-color: #00e676;
}

#result .failure {
	background-color: #f44336;
}

#result .pending {
	background-color: #e8eaf6;
}


/* IMAGES : Liste des images : sous la forme d’un mur d’images */
#image-section,
#files-section {
	margin-top: 40px;
	padding: 0;
}


#image-wall {
	text-align: center;
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
}

#image-wall .image_bloc {
	height: 240px;
	margin: 2px;
	position: relative;
	overflow: hidden;
	flex: 1 1 auto;
	min-width: 200px;
	max-width: 25%;
}

#image-wall .image_bloc img {
	height: 100%;
	width: 100%;
}

#image-wall .image_bloc > span {
	position: absolute;
	//right: 0; left: 0; top: 0; bottom: 0;
	width: 80%; height: 100%;
	opacity: 0;
	transition: opacity .3s;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 50%;
	z-index: -1;
}

#image-wall .image_bloc > span > .vignetteAction {
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
	border: 0;
	box-sizing: border-box;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-decoration: none;
}

#image-wall .image_bloc > span > .vignetteAction::before {
	content: "";
	color: white;
	font-size: 3.2em;
	text-shadow: 0 0 10px black, 0 0 20px black;
}

#image-wall .image_bloc > span > .vignetteAction.imgShow::before  { content: "\e8a0"; }
#image-wall .image_bloc > span > .vignetteAction.imgEdit::before  { content: "\e3c9"; }
#image-wall .image_bloc > span > .vignetteAction.imgDL::before    { content: "\e171"; }
#image-wall .image_bloc > span > .vignetteAction.imgSuppr::before { content: "\e92b"; }

#image-wall .image_bloc.show-buttons > span {
	opacity: 1;
	z-index: 1;
}


/* Liste des fichiers : sous la forme d’un tableau */
#file-list {
	width: 100%;
	border-collapse: collapse;
}

#file-list,
#file-list tr,
#file-list td {
	border: 0;
}

#file-list thead {
	background: #F6F6F6;
}

#file-list thead th {
	padding: 5px;
	text-align: left;
}

#file-list tr {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

#file-list td {
	padding: 10px;
}

#file-list td img {
	vertical-align: middle;
	width: 30px;
}

#file-list tr td a {
	color: inherit;
	text-decoration: none;
}

#file-list tr td:nth-of-type(1),
#file-list tr td:nth-of-type(n+5) {
	padding-left: 15px;
	width: 30px;
}

#file-list tr td:nth-of-type(2) {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	max-width: 0;
}

#file-list tr td:nth-of-type(n+3) {
	color: rgba(0, 0, 0, .5);
	font-size: .9em;
}

#file-list tr th:nth-of-type(2),
#file-list tr th:nth-of-type(n+3),
#file-list tr td:nth-of-type(2),
#file-list tr td:nth-of-type(n+3) {
	white-space: nowrap;
}

#file-list tr td:nth-of-type(n+4) a {
	height: 30px;
	width: 30px;
	overflow: hidden;
	display: block;
	box-sizing: border-box;
	padding-left: 30px;
}

#file-list tr td:nth-of-type(n+4) a::before {
	font-size: 1.4em;
	color: rgba(0, 0, 0, .5);
	display: block;
	line-height: 30px;
	margin-left: -30px;
	text-align: center;
}

#file-list tr td:nth-of-type(5) a::before { content: '\e2c4'; } /* DL */
#file-list tr td:nth-of-type(6) a::before { content: '\e92b'; } /* RM */

#file-list tr td:last-of-type {
	padding-right: 15px;
}

#file-list tbody tr:hover {
	background-color: rgba(0, 0, 0, .1);
	transition: background-color .5s;
}

/* IMAGES : buttons, list of albums/file-type */

.list-buttons {
	background: #F6F6F6;
}

.list-buttons button:not([id]) {
	background: transparent;
	border: 0;
	margin: 0 5px;
	padding: 15px 1px;
	cursor: pointer;
	border-radius: 0;
}

.list-buttons button[data-folder]::after {
	content: '('attr(data-count)')';
	font-family: inherit;
	padding-left: 5px;
}
.list-buttons button:not([id]):hover,
.list-buttons button:not([id]).current {
	transition: box-shadow 0.1s ease-in;
	box-shadow: 0 3px 0 #2196f3 inset;
}

.list-buttons button:not([id]).current {
	font-weight: bold;
}

#load_all {
	float: right;
	color: #2196f3;
	margin-top: 6px;
}

#load_all[data-diff="0"] {
	display: none;
}
