/* NOTES
------------------------------------------------------------ */

.notes-menu-buttons button::before {
	font-size: 1.6em;
}

#list-notes {
}

#list-notes > #are-pinned:not(:empty) {
	margin-bottom: 20px;
}

#post-new-note {
	cursor: pointer;
}

#post-new-note .contain::before {
	content: "\e3de";
	font-size: 1.3em;
	margin-right: 10px;
	line-height: inherit;
}

#post-new-note .contain {
	line-height: 3em;
	opacity: .7;
}

.notebloc {
	max-height: 303px;
	width: 240px;
	vertical-align: text-top;
	display: inline-flex; 
	flex-direction: column;
	transition: box-shadow .2s ease-in;
	margin: 10px;
	padding: 0 0 15px;
	border-radius: 5px;
	position: relative;
}

.notebloc[data-isarchived="0"] {
	filter: sepia(1);
}

.notebloc[data-ispinned="1"]::after {
	content: "\e226";
	font-size: 1.8em;
	position: absolute;
	right: -9px;
	top: -9px;
	transform: rotate(35deg);
	color: #222;
}

.notebloc:hover {
	box-shadow: 0 2px 15px rgba(0,0,0,0.30);
}

.notebloc .title,
#popup.popup-note .popup-title {
	display: flex;
	position: relative;
}

.notebloc .title > h2,
#popup.popup-note .popup-title > h2 {
	padding: 15px;
	margin: 0;
	font-size: 1.1em;
	font-weight: 700;
	flex: 1;
}

.notebloc > .content {
	white-space: pre-line;
	overflow-y: hidden;
}

.notebloc > .content,
#popup.popup-note .content {
	margin: 0;
	padding: 15px;
	font-size: 1em;
	flex: 1;
}

/* popup */
#popup.popup-note {
	transition: .3s background-color ease;
}

#popup.popup-note .popup-title {
	padding: 0;
	background-color: transparent;
}

#popup.popup-note[data-ispinned="0"] > .popup-title > .pinnedIcon::before { content: "\e16e"; }
#popup.popup-note[data-ispinned="1"] > .popup-title > .pinnedIcon::before { content: "\e153"; }

#popup.popup-note[data-isarchived="1"] > .popup-title > .archiveIcon::before { content: "\e149"; }
#popup.popup-note[data-isarchived="0"] > .popup-title > .archiveIcon::before { content: "\e169"; }

#popup.popup-note .popup-title::after { content: none; }
#popup.popup-note .popup-content::before { content: none; }

#popup.popup-note > .popup-content {
	background: transparent;
	border: 0;
	resize: none;
	padding-bottom: 0;
	padding-top: 0;
}

#popup.popup-note > .popup-footer {
	padding: 0 5px 5px;
	flex-wrap: wrap;
	position: relative;
}

#popup.popup-note > .popup-footer > button,
#popup.popup-note > .popup-title > button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	padding: 0;
	color: rgba(0, 0, 0, .6);
	transition: opacity .2s ease-in;
}

#popup.popup-note > .popup-footer > button:hover,
#popup.popup-note > .popup-title > button:hover {
	background-color: rgba(0, 0, 0, .1);
}

#popup.popup-note > .popup-footer > button::before,
#popup.popup-note > .popup-title > button::before {
	font-size: 1.6em;
}

#popup.popup-note > .popup-footer > .colorIcon::before { content: "\e3b7"; }
#popup.popup-note > .popup-footer > .supprIcon::before { content: "\e92b"; }

#popup.popup-note > .popup-footer > .colors {
	display: none;
	position: absolute;
	list-style: none;
	height: 87px;
	width: 87px;
	left: 4px;
	bottom: 4px;
	margin: 0;
	padding: 2px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	font-size: 0;
}

#popup.popup-note > .popup-footer .colorIcon:focus + .colors,
#popup.popup-note > .popup-footer .colors:hover {
	display: block;
}

#popup.popup-note > .popup-footer > .colors > li {
	box-sizing: border-box;
	border: 1px silver solid;
	cursor: pointer;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 50%;
	margin: 2px;
}

#popup.popup-note > .popup-footer > .colors > li:hover {
	opacity: .95;
	border-color: gray;
}

#popup.popup-note > .popup-footer li > button:focus,
#popup.popup-note > .popup-footer li > button::-moz-focus-inner {
	background-color: rgba(0, 0, 0, .05);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	outline: none;
	border-color: transparent;
}

#popup.popup-note > .popup-footer > .date {
	padding: 0 15px;
	text-align: right;
	font-style: italic;
	font-size: .9em;
	color: #666;
	width: 100%;
}

#popup.popup-note .submit-bttns {
	padding: 0;
	margin: 5px 10px;
	width: auto;
	flex: 1;
	max-width: none;
}


#popup.popup-note .popup-footer .button-cancel {
	background: transparent;
}

