/* MES LIENS
--------------------------------------------------------------------------- */


#list-link {
	-webkit-column-width: 700px;
	column-width: 700px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
}

/* LINKS : Post new link
------------------------------------------------------*/
#post-new-lien,
#post-new-note {
	position: relative;
	z-index: 1;
	max-width: 550px;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 15px;
	margin: 50px auto 70px;
}

#post-new-lien::after,
#post-new-note::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 17px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
	z-index: -1;
	border-radius: inherit;
}

#post-new-lien:hover::after,
#post-new-lien.focusedField::after,
#post-new-note:hover::after,
#post-new-note.focusedField::after {
	opacity: 1;
}

#post-new-lien:hover,
#post-new-note:hover {
	color: #333;
}

#post-new-lien .contain-input {
	display: flex;
	align-items: center;
}

#post-new-lien label[for="url"] {
	width: 24px;
	height: 24px;
	overflow: hidden;
}

#post-new-lien label[for="url"]::before {
	content: "\e894";
	font-size: 1.3em;
	line-height: 24px;
	color: rgba(0, 0, 0, .5);
}

#post-new-lien #url {
	width: 100%;
	min-width: 0;
	background: white;
	box-shadow: none;
	border: none;
}

/* Form new link (title, descr, tags…)
------------------------------------------------------------*/
#post-lien {
	margin: auto;
	width: 800px;
	max-width: 100%;
	padding: 0 0 20px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
	background: white;
	display: flex;
	flex-direction: column;
	resize: both;
	overflow: hidden;
	min-height: 200px;
	min-width: 200px;
	border-radius: 8px;
}

#post-lien input.readonly-like { /* form nouveau lien (#2), le lien de l’URL */
	color: #bbb;
	font-style: italic;
}

#post-lien .text {
	max-width: 100%;
	box-shadow: none;
}

#post-lien textarea {
	min-height: 130px;
	resize: none;
	height: 100%;
}

#post-lien > p {
	padding-left: 15px;
}

#post-lien .submit-bttns {
	max-width: none;
}

/* LINKS : list of link-blocs
--------------------------------------------------------------*/

.linkbloc {
	position: relative;
	z-index: 1;
	color: #444;
	margin: 20px auto;
	padding: 0;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}

.linkbloc::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
	z-index: -1;
	border-radius: inherit;
}

.linkbloc:hover::after {
  opacity: 1;
}

.linkbloc:hover {
	color: #333;
	z-index: 10;
}

.linkbloc:first-of-type {
	margin-top: 0;

}
.linkbloc:first-of-type:last-of-type {
	display: inline-block; /* firefox bugfix for avoid collumn-break when single element */
}

.linkbloc.privatebloc {
    border-left: 10px #555 solid;
    background: rgba(0, 0, 0, .02);
}

.linkbloc .link-header,
.linkbloc .link-content,
.linkbloc .link-footer {
	padding: 15px;
}

.linkbloc .link-header {
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #eee;
}

.linkbloc .date {
	flex: 1 1 auto;
	text-align: right;
	color: gray;
	font-style: italic;
}

/* LINKS : link header
--------------------------------*/
.linkbloc .titre-lien {
	text-decoration: none;
	font-weight: bold;
	color: #333;
	flex: 0 1 auto;
	display: block;
}

.linkbloc .titre-lien:hover {
	color: #888;
}

.linkbloc .date,
.linkbloc .hard-link {
	font-size: .9em;
	color: #aaa;
}

.linkbloc .hard-link {
	word-break: break-all;
}

/* LINKS : link footer
--------------------------------*/
.linkbloc .link-footer {
	background-color: rgba(0, 0, 0, .05);
	border-top: #eee;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.linkbloc .link-tags {
	margin: 0;
	padding: 0;
}

.linkbloc .link-tags li {
	display: inline-block;
	padding: 3px 0;
}

.linkbloc .link-tags a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	background-color: white;
	border: 1px solid silver;
	border-radius: 20px;
	color: inherit;
}

.linkbloc .link-tags a:hover {
	background: rgba(0, 0, 0, .1);
}

#post-lien #liste-tags {
	min-width: 400px;
	width: 50%;
	margin: 0 0 2px 25%;
	padding-left: 21px;
	line-height: 19px;
}

