/* ECRIRE
---------------------------------------------------------------------------------- */

/* apercu */
#apercu,
#form-ecrire {
	padding: 0 0 1px;
	clear: both;
}

#apercu {
	margin-bottom: 15px;
}

#apercu > h2 {
	background: #f0f0f0;
	border-radius: 15px 15px 0 0;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

#apercu > div {
	margin: 20px;
}

#apercu blockquote,
.link-content blockquote,
.commentbloc .comm-content blockquote {
	padding: 10px 10px 10px 15px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#apercu pre,
.link-content pre,
.commentbloc .comm-content pre {
	padding: 0;
	white-space: pre-wrap;
	font-size: .8em;
	position: relative;
	display: flex;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#apercu pre[data-language]::before,
.link-content pre[data-language]::before,
.commentbloc .comm-content pre[data-language]::before {
	content: attr(data-language);
	display: block;
	padding: 15px 2px;
	background: rgba(0, 0, 0, .1);
	flex: 0 0 45px;
	text-align: center;
}

#apercu pre > code,
.link-content pre > code,
.commentbloc .comm-content pre > code {
	flex: 1 1 auto;
	display: block;
	padding: 15px;
}

#apercu img {
	padding: 2px;
	border: 1px solid #ddd;
	max-width: 100%;
	height: auto;
}

#form-ecrire {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#form-ecrire textarea {
	resize: vertical;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;

}

#form-ecrire .main-form {
	flex: 1 1 auto;
	padding: 0;
	border-radius: 15px;
}
#form-ecrire .main-form .text {
	width: 100%;
	padding: 12px;
}

#titre {
	font-weight: bold;
	font-size: 1.15em;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#chapo_note {
	display: flex;
}

#chapo_note > textarea {
	width: auto;
	min-width: 0;
}

#form-ecrire #chapo {
	flex: 2 2 auto;
	border-right: 1px solid silver;
}
#form-ecrire #notes {
	flex: 1 2 auto;
}

#type_tags,
#mots_cles {
	padding: 0 10px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#form-ecrire .main-form > *:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#content_format {
	position: relative;
	z-index: 1;
}
/* Boutons de formatage  */
p.formatbut {
	line-height: 36px;
	margin: 0; padding: 0px 5px;
	background: #f5f5f5;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: +3;
}

.formatbut .but {
	padding: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	height: 32px;
	width: 32px;
	line-height: 32px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
}

.formatbut .but:hover {
	transition: border-color .3s;
	border-color: silver;
}

.formatbut .but:active {
	border-color: gray;
	background: #cde6ff;
	background: linear-gradient(to top, white, #d6d6d6);
}


.formatbut span.spacer {
	margin: 0 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.formatbut > .but::before {
	font-size: 1.6em;
	height: 32px;
	width: 32px;
	display: block;
	line-height: inherit;
}


#button01::before { content: "\e94c"; } /* bold */
#button02::before { content: "\e94d"; } /* ital */
#button03::before { content: "\e94e"; } /* underline */
#button04::before { content: "\e94f"; } /* strike */
#button05::before { content: "\e954"; } /* left align */
#button06::before { content: "\e955"; } /* center align */
#button07::before { content: "\e956"; } /* right align */
#button08::before { content: "\e957"; } /* justify */
#button09::before { content: "\e95b"; } /* link */
#button10::before { content: "\e95c"; } /* quote */
#button11::before { content: "\e958"; } /* image */
#button12::before { content: "\e95e"; } /* code */
#button13::before { content: "\e950"; } /* color edit */
#button14::before { content: "\e952"; } /* font size edit */
#button15::before { content: "\e953"; } /* unicode char insert */
#button16::before { content: "\e959"; } /* ul list */
#button17::before { content: "\e95a"; } /* ol list */
#button18::before { content: "\e95d"; } /* autocorrect */

.but-dropdown {
	position: relative;
}

.but-dropdown .list {
	display:none;
	padding: 3px;
	background-color: white;
	width: 140px;
	position: absolute;
	top: 30px;
	left: 0px;
	line-height: 24px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
}

.but-dropdown:hover .list {
	display: block;
}

/* list colors */
.but-dropdown .list-color {
	font-size: 0;
}

.but-dropdown .list-color button {
	display: inline-block;
	background: white;
	margin: 3px;
	width: 22px;
	height: 22px;
	border: 1px solid silver;
	border-radius: 50%;
}

.but-dropdown .list-color button:hover {
	border-color: gray;
}

/* list sizes */
.but-dropdown .list-size {
	text-align: left;
	width: 160px;
	padding: 3px 0;
}

.but-dropdown .list-size button {
	color: black;
	padding: 2px;
	text-align: left;
	display: inline-block;
	background: white;
	margin: 0;
	width: 160px;
	height: 28px;
	margin-top: 3px;
	border: 1px solid transparent;
}

.but-dropdown .list-size button:first-of-type {
	height: 23px;
}

.but-dropdown .list-size button:last-of-type {
	height: 33px;
}

.but-dropdown .list-size button:hover {
	background-color: #ddd;
}

/* list caractères unicodes */

.but-dropdown .list-spechr {
	text-align: left;
	width: 364px;
	padding: 3px 3px 1px;
}

.but-dropdown .list-spechr button {
	background: white;
	margin: 0 2px 2px 0;
	width: 26px;
	padding: 0;
	height: 26px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
}

.but-dropdown .list-spechr button:hover {
	background-color: #ddd;
}

#form-ecrire .main-form #contenu {
	padding-top: 44px;
}

/* tags
-------------------------------------------- */
#form-ecrire #wrap {
	padding: 0;
	margin: 0;
}

#tag_bloc {
	flex: 0;
	margin: 0;
	display: flex;
}

#selected { /* <ul> */
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-shadow: 0 -1px 0 #dadada inset, 1px 0 0 #dadada;
}


#selected > li {
	display:inline-block;
	padding: 0 10px 0 7px;
	color: #333;
	background: #eee;
	border: 0;
	margin: 0 -3px 0 0;
	box-shadow: 1px 0px 0 #dadada inset, 0px -1px 0px #dadada inset;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	height: 100%;

}

#selected > li > a {
	display: inline-block;
	color: inherit;
	margin: 0px 5px 0px 8px;
	text-decoration: none;
	font-weight: bold;
}

#type_tags {
	flex: 1 1 100px;
	justify-content: flex-start;
}


/* boutons d’options et date */
#form-ecrire #date-and-opts {
	border-radius: 15px;
	flex: 0 0 300px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

#date-and-opts > div:last-of-type {
	flex: 1;
}

#datetime input {
	background: #FAFAFA;
	padding: 11px 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	border: 0;
	text-align: center;
	margin-left: 3px;
}


#date-and-opts > div > span {
	display: block;
	margin: 0 5px 30px;
}

#formstatut label,
#formallowcomment label {
	display: inline;
}


#date-and-opts > div > span::before {
	vertical-align: middle;
	font-size: 1.4em;
}

#formdate::before {
	content: "\e918";
	color: rgba(252, 101, 101, 1);
}

#formheure::before {
	content: "\e908";
	color: rgba(50, 50, 50, 1);
}

#formstatut::before {
	content: "\e904";
	color: rgba(55, 110, 250, 1);
}

#formallowcomment::before {
	content: "\e91b";
	color: rgba(101, 234, 143, 1);
}

#form-ecrire .submit-bttns {
	text-align: left;
	padding: 0;
	display: flex;
	justify-content: space-around;
}


#form-ecrire:invalid .button-submit {
	color: #aaa;
	background: #ddd;	
	box-shadow: none;
}
