/* FONT-FACES
------------------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto light"), url("roboto-300.woff2") format("woff2"), url("roboto-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto regular"), local("roboto regular"), url("roboto-400.woff2") format("woff2"), url("roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("roboto medium"), url("roboto-500.woff2") format("woff2"), url("roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("roboto bold"), url("roboto-700.woff2") format("woff2"), url("roboto-700.woff") format("woff");
}

@font-face {
  font-family: "icon";
  src: url("icon.woff?24") format("woff");
}

/* CSS VARIABLES
------------------------------------------------------------*/
:root {
	--md-primary-color: #3F51B5; /* UI objects BG : top, etc. ; */
	--md-secondary-color: #FF4081; /* UI items : FAB, buttons…; */
	--main-md-text-color: #ffffff;
	--scnd-md-text-color: #ffffff;
}

::selection {
	color: var(--main-md-text-color);
	background: var(--md-primary-color);
}
::-moz-selection {
	color: var(--main-md-text-color);
	background: var(--md-primary-color);
}

#body.preferences,
#body.maintenance { /* dark gray */
	--md-primary-color: #383838;
	--main-md-text-color: #fff;
}

#body.index { /* white */
	--md-primary-color: #fff;
	--main-md-text-color: #333;
}

#body.articles { /* red */
	--md-primary-color: #D32F2F;
	--main-md-text-color: #f5f5f5;
}

#body.comments { /* light orange */
	--md-primary-color: #FFA726;
	--main-md-text-color: #fff;
}

#body.feeds { /* orange */
	--md-primary-color: #EF6C00;
	--main-md-text-color: #111;
}

#body.notes { /* light green */
	--md-primary-color: #AEEA00;
	--main-md-text-color: #000;
}

#body.files { /* dark blue */
	--md-primary-color: #303F9F;
	--main-md-text-color: #fff;
}

#body.links { /* light-blue */
	--md-primary-color: #1E88E5;
	--main-md-text-color: #fff;
}

#body.agenda { /* teal */
	--md-primary-color: #1DE9B6;
	--main-md-text-color: #000;
}

/* ANIMATIONS
------------------------------------------------------------*/
/* rotating loading spinner */

@keyframes spinnerLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* bottom left popup in/out sliding */
@keyframes popup-disapear {
	10% {
		bottom: 30px;
	}
	80% {
		bottom: 30px;
	}
	90% {
		bottom: -100px;
		opacity: 1;
	}
	100% {
		opacity: 0;
		bottom: -999px;
	}
}

/* makes a box appearing */
@keyframes appear {
	0%   { transform-origin: 50% 50%; transform: scale(0); }
	99%  { transform-origin: 50% 50%; transform: scale(1.05); }
	100% { transform-origin: 50% 50%; transform: scale(1); }
}

@keyframes appearSlow {
	0%   { transform-origin: 50% 50%; transform: scale(0.4 , 1.4); }
	100% { transform-origin: 50% 50%; transform: scale(1, 1); }
}

/* makes a box disapearing vertically */
@keyframes disapear {
	0%   { transform-origin: 0 0; transform: scaleY(1); opacity: 1; }
	100% { transform-origin: 0 0; transform: scaleY(0); opacity: 0; }
}

/* makes a box disapearing honrizontaly */
@keyframes disapearH {
	0%   { transform-origin: 0 0; transform: scaleX(1); opacity: 1; }
	100% { transform-origin: 0 0; transform: scaleX(0); opacity: 0; }
}

/* elements slide smothly to right / left */
@keyframes slideright {
	0%   { left: 50%; opacity: 1; }
	100% { left: 60%; opacity: 0; }
}

@keyframes slideleft {
	0%   { left: 50%; opacity: 1; }
	100% { left: 40%; opacity: 0; }
}

/* material design button-click "ripple" effect */
@keyframes md-ripple {
	0%   { transform: scale(0, 0);   opacity: 1; }
	50%  { transform: scale(25, 25); opacity: .5; }
	100% { transform: scale(25, 25); opacity: 0; }
}

/* popup fade-in */
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

/* GENERAL PAGE LAYOUT
------------------------------------------------------------ */

* {
	color: inherit;
}

::before,
::after {
	font-family: "icon";
	vertical-align: middle;
	line-height: 1;
	color: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	background: #eee;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
	word-wrap: break-word;
	font-size: 15px;
	height: 100%;
}

body {
	position: relative;
	min-height: calc( 100% - 100px);
	padding-bottom: 100px;
}

#header {/* the top bar(s) */
	z-index: 100;
	color: white;
	color: var(--main-md-text-color);
	background: #263238;
	background: var(--md-primary-color);
	position: sticky;
	top: 0;
	box-shadow: 0 1px 8px rgba(0,0,0,.5);
}

#axe { /* the entire page without top bars (#header) and footer (#footer) */
	padding: 20px;
	margin: auto;
}

#page { /* the main frame. #axe minus the "filtre" forms, and the subnav */
	padding: 5px;
}

/* Footer */
#footer {
	text-align: center;
	color: #666;
	padding: 0 0 30px;
	font-size: .8em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: -1;
}

/* GENERAL STUFF
------------------------------------------------------------------- */

a {
	color: #2196F3;
}

a:hover {
	color: #4f6681;
	text-decoration: underline;
}

img {
	border: none;
}

pre { white-space: pre-wrap; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Roboto, Arial, sans-serif;
	clear: both;
}

textarea {
	resize: both;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

textarea, input, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	border-radius: 0;
}

label, input, textarea, select {
	vertical-align: middle;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	cursor:pointer;
}

q, blockquote {
	font-style: italic;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

.centrer {
	text-align: center;
}

.hidden {
	display: none;
}

.info { /* ex : « il n'y a aucun commentaire » est un .info */
	padding: 15px;
	padding-left: 40px;
	position: relative;
	margin: 0;
}

/* Message de confirmation ou d’erreur */
.confirmation, .no_confirmation {
	max-width: 400px;
	position: fixed;
	bottom: -100px; left: 20px;
	padding: 15px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	z-index: 50;
	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);
	animation: popup-disapear 7s;
	animation-fill-mode: forwards;
	border: 1px solid #333;
	border-radius: 3px;
	background: #444;
	color: #fff;
}

.no_confirmation {
	color: #faa;
}

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}

/* TOP
------------------------------------------------------------------------ */
#top {
	display: flex;
	box-sizing: border-box;
	align-items: stretch; /* vertical align*/
	height: 64px;
	padding: 8px;
	background: inherit;
}

#top a {
	text-decoration: none;
	color: inherit;
}

/* TOP > Left nav bar
------------------------------------------------------*/
#nav::before {
	font-size: 1.6em;
	text-align: center;
	content: "\e906";
	width: 48px;
	cursor: pointer;
	display: inline-block;
	line-height: 48px;
}

/* TOP > Left nav bar > menu
----------------------------------------*/
#nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	background-color: white;
	left: 0;
	transform: translateY(-700px);
	top: 60px;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
	opacity: 0;
	border-radius: 2px;
}

#nav > ul::before {
	content: "";
	position: absolute;
	padding: 7px;
	top: -7px;
	left: 24px;
	transform: rotate(45deg);
	background: inherit;
}

#nav > ul.visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .2s ease-in;
}

#nav > ul > li {
	display: inline-block;
	width: 100px;
	vertical-align: bottom;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 2px;
}

#nav > ul > li:hover {
	border-color: rgba(0, 0, 0, .1);
}

#nav a {
	display: block;
	color: rgba(0, 0, 0, .6);
	padding: 5px;
	font-size: .8em;
}

#nav a::before {
	display: block;
	font-size: 2em;
	color: rgba(0, 0, 0, .7);
	border-radius: 100%;
	height: 1em;
	width: 1em;
	padding: .5em;
	margin: 0 auto 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .4) inset;
	text-shadow: 0px 0px 1px white;
}

#nav #lien-liste:before    { content: "\e90d"; background-color: rgba(211,47,47, .5); }
#nav #lien-index:before    { content: "\e907"; background-color: rgba(255,255,255, .5); }
#nav #lien-nouveau:before  { content: "\e903"; background-color: rgba(211,47,47, .5); }
#nav #lien-lscom:before    { content: "\e91b"; background-color: rgba(255,167,38, .5); }
#nav #lien-fichiers:before { content: "\e921"; background-color: rgba(48,63,159, .5); }
#nav #lien-links:before    { content: "\e910"; background-color: rgba(30,136,229, .5); }
#nav #lien-notes:before    { content: "\e944"; background-color: rgba(174,234,0, .5); }
#nav #lien-rss:before      { content: "\e940"; background-color: rgba(239,108,0, .5); }
#nav #lien-agenda:before   { content: "\e918"; background-color: rgba(29,233,182, .5); }

/* TOP > H1 : title w/ link;
------------------------------------------------------*/
#titre-page {
	flex: 1 0 auto;
	padding-left: 8px;
	font-size: 1.3em;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 auto;
}

#titre-page > a {
	padding: 5px 5px 5px 0;
}

/* TOP > Search button + searchbar
------------------------------------------------------*/
#search {
	flex: 0 1 550px;
	margin: 0 15px 0 8px;
	display: flex;
	align-items: stretch;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, .4);
	border-radius: 4px;
}

#input-rechercher {
	display: none;
}

#q { /* normal */
	padding: 0;
	border: 1px solid transparent;
	max-width: 550px;
	flex: 1 1 auto;
	order: 2;
	background-color: transparent;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

#q:focus,
#q:focus + #label_q,
#q:focus + #label_q::before,
#q[value=""]:focus,
#q[value=""]:focus + #label_q,
#q[value=""]:focus + #label_q::before,
#q:not([value=""]),
#q:not([value=""]) + #label_q,
#q:not([value=""]) + #label_q::before { /* focus OR not empty (a search is done) */
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#label_q {
	overflow: hidden;
	flex: 0 0 48px;
	text-align: center;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

#label_q::before {
	content: "\e925";
	position: relative;
	font-size: 1.6em;
	display: block;
	line-height: 48px;
	padding-top: 1px /* icon-form centering compensation */
}

#q:hover { /* hover */
	cursor: text;
}

/* TOP > Notif-icon / drop-down menu
------------------------------------------------------*/
#notif-icon::before {
	font-size: 1.6em;
	text-align: center;
	content: "\e948";
	width: 48px;
	cursor: pointer;
	display: inline-block;
	line-height: 48px;
}

#notif-icon.hasNotifs::before {
	content: "\e949";
}

#notif-icon.hasNotifs::after {
	content: attr(data-nb-notifs);
	position: absolute;
	color: white;
	height: 18px;
	font-size: .7em;
	font-family: inherit !important;
	background: red;
	border-radius: 10px;
	padding: 4px;
	box-sizing: border-box;
	top: 2px;
	right: 30px;
}

#notif-icon > ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	position: absolute;
	background-color: white;
	right: 8px;
	transform: translateY( calc(-100% - 50px) ) ;
	top: 60px;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
	opacity: 0;
	border-radius: 2px;
	color: initial;
}

#notif-icon > ul::before {
	content: "";
	position: absolute;
	padding: 7px;
	top: -7px;
	right: 64px;
	transform: rotate(45deg);
	background: inherit;
}

#notif-icon > ul.visible {
	opacity: 1;
	z-index: 1;
	transition: opacity .4s ease-out;
	transform: translateY(0);
}

#notif-icon a {
	margin: 0;
	display: block;
	text-decoration: none;
	color: inherit;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
}

#notif-icon a:hover {
	background: rgba(0, 0, 0, .1);
}

/* TOP > Right nav bar
------------------------------------------------------*/
#nav-acc::before {
	font-size: 2em;
	text-align: center;
	content: "\e900";
	width: 48px;
	cursor: pointer;
	display: inline-block;
	line-height: 48px;
}

/* TOP > right menu
----------------------------------------*/
#nav-acc > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: absolute;
	background-color: var(--md-primary-color);
	right: 0;
	transform: translateY(-230px);
	top: 64px;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
	z-index: -1;
	text-align: right;
}

#nav-acc > ul.visible {
	transition: transform .4s ease-out;
	transform: translateY(0);
}

#nav-acc a {
	height: 45px;
	line-height: 45px;
	padding: 0 48px 0 77px;
	display: block;
}

#nav-acc a:hover {
	background: rgba(0, 0, 0, .1);
}

#nav-acc a:after {
	font-size: 1.2em;
	margin-left: 10px;
	font-weight: bold;
}

#nav-acc #lien-preferences:after { content: "\e914"; }
#nav-acc #lien-site:after        { content: "\e912"; }
#nav-acc #lien-deconnexion:after { content: "\e90e"; }

/* TOP > Sub-menu (on specific pages)
------------------------------------------------------*/
#sub-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 11px 0 14px;
	background: #fefefe;
	color: #333;
	position: relative;
	z-index: -2;
	border-radius: 7px 7px 0 0;
}

#sub-menu #counter {
	margin: 0 8px;
	display: none;
	height: 15px;
	width: 15px;
	border: 3px solid rgba(0, 0, 0, .1);
	border-top-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	animation: spinnerLoading 0.6s infinite linear;
}

.sub-menu-buttons {
	flex: 1 0 auto;
	text-align: right;
	margin: 0;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.sub-menu-buttons > li {
	display: inline-block;
}

.sub-menu-buttons button:not(.submit) {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	padding: 0;
	color: rgba(0, 0, 0, .6);
}

.sub-menu-buttons button:not(.submit)::before {
	font-size: 1.6em;
}

.sub-menu-buttons li > button:focus,
.sub-menu-buttons li > button::-moz-focus-inner {
	background-color: rgba(0, 0, 0, .05);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   outline: none;
	border-color: transparent;
}

/* Floating action button (FAB)
------------------------------------------------------------------ */
#fab {
	display: inline-block;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	position: fixed;
	padding: 0;
	overflow: hidden;
	right: 32px;
	bottom: 32px;
	z-index: 99;
	transition: transform .2s cubic-bezier(.57,.57,.96,1.39);
	border: 0;
}

#fab::before {
	content: "\e903";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	color: var(--scnd-md-text-color);
	line-height: 56px;
	text-align: center;
	font-size: 1.9em;
	background: #f44336;
	background: var(--md-secondary-color);
}

#fab:focus {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 8px 17px 0 rgba(0, 0, 0, 0.4);
	outline: none;
}

#fab.hidden {
	transform: scale(0);
	transition: transform .2s cubic-bezier(.2,-.5,.5,.2);
}

#fab.add-feed::before,
#fab.add-note::before {
	content: "\e927";
}

#fab.add-event::before {
	content: "\e918";
}

/* SUBNAV (with nb articles/comms or link to "see online")
------------------------------------------------------------------ */
#subnav {
	margin: 10px 5px 20px;
	display: flex;
}

#subnav > .nombre-elem {
	font-weight: bold;
	color: #333;
	margin: auto 0 auto auto ;
}

#subnav > .nombre-elem > ul { /* list on link-hover on comm-page */
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 15;
	border-radius: 3px;
}

#subnav > .nombre-elem li {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	transition: box-shadow ease 0s, opacity ease .1s;
}

#subnav > .nombre-elem li+li {
	position: absolute;
	height: 0;
	overflow: hidden;
}

#subnav > .nombre-elem ul:hover > li {
	background: #fefefe;
	box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
	transition: box-shadow ease .1s, opacity ease 0s;
}

#subnav > .nombre-elem li:hover {
	background: #fafafa;
}

#subnav > .nombre-elem a:hover {
	color: #45a6ff;
}

#subnav > .nombre-elem ul:hover li+li {
	height: auto;
}

#subnav > .nombre-elem a {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}

#subnav > .nombre-elem > ul > li > a {
	display: block;
	box-sizing: border-box;
}

/* GENERAL FORM STUFF
----------------------------------------------------------*/
select {
	border: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-bottom: 1px solid silver;
	padding: 15px 20px 15px 15px;
	color: #333;
	cursor: pointer;
	font-size: inherit;
	background: transparent no-repeat 100% 50% / 20px url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48cGF0aCBkPSJNMTAuNSAxNWw3LjUgNy41IDcuNS03LjV6Ii8+PC9zdmc+Cg==")
}

select:focus {
	box-shadow: 0px 0px 5px 2px silver;
}

select option,
select optgroup::before {
	border: 0;
	background: white;
	color: #333;
}

select optgroup::before {
	background: #eee;
	text-align: center;
}

legend {
	padding: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.text, *[type='submit'] {
	box-sizing: border-box;
	padding: 5px;
	background: none;
}

.text {
	margin: 0;
	padding: 15px;
	border: 1px solid transparent;
	border-bottom-color: silver;
	border-radius: 0;
	background: white no-repeat;
	position: relative;
}

.text:invalid {
	box-shadow: none;
	outline: none;
	border-bottom-color: red;
}

.text:focus {
	box-shadow: 0px 0px 5px 2px silver;
	z-index: 2;
}

/* FORMS defaults
-------------------------------------------------------------*/
/*input buttons */
.submit-bttns {
	text-align: right;
	margin: 20px auto 5px;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
	padding: 0 20px;
}

.submit-bttns .button-delete {
	float: left;
	min-width: 140px;
}

.submit {
	color: white;
	font-weight: 500;
	vertical-align: middle;
	padding: 6px 12px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border: 0px solid transparent;
	min-width: 100px;
	text-transform: uppercase;
}

.button-cancel:hover,
.button-delete:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-submit {
	min-width: 140px;
	background: #2196f3;
}

.button-delete {
	color: #f44336;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	transition: box-shadow .2s;
	background: white;
}

.button-cancel {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	background: white;
	color: #777;
	margin-right: 5px;
	transition: box-shadow .2s;
}

.submit[disabled] {
	color: silver;
	background: #eee;
	box-shadow: none;
	cursor: auto;
}

.submit {
	position: relative;
	overflow: hidden;
}

.submit:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
}

/* for mouse focus */
.submit:focus:hover::after {
	animation: md-ripple 1s ease-out;
}

/* for keyboard focus */
.submit:focus:not(:hover)::after {
	background: rgba(255, 255, 255, .2);
	transform: scale(1, 1);
	border-radius: 0;
	opacity: 1;
}

/* checkboxes with "toggle-button" style */
.checkbox-toggle {
	margin: 25px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkbox-toggle+label {
	cursor: pointer;
	position: relative;
}

.checkbox-toggle+label::after {
	position: absolute;
	right: -30px;
	top: -1px;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background: #ECECEC;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	content: '';
	transition: all 0.3s ease;
}

.checkbox-toggle:checked + label::after {
	right: -50px;
	background: var(--md-secondary-color);
}

.checkbox-toggle+label::before {
	position: absolute;
	right: -50px;
	top: 3px;
	height: 15px;
	width: 40px;
	background: #B2B2B2;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	content: '';
}

.checkbox-toggle:checked + label:before {
	background: var(--md-secondary-color);
	opacity: .6
}

.checkbox-toggle:focus+label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 5px rgba(0, 0, 0, .1);
}

.checkbox-toggle:not(:disabled):active + label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 15px rgba(160, 194, 249, .4);
}

/* ERREURS */
#erreurs, .erreurs, #succes, .succes {
	display: block;
	clear: both;
	margin: 0 0 15px 0;
}

#erreurs, .erreurs {
	color: #D40000;
}

#succes, .succes {
	color: #00A400;
}

#erreurs ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 10px;
}

#erreurs li {
	margin: 0;
}

/* Page maintenance.
********************************************/
#form_export, #form_import, #form_optimi,
#e_json, #e_html, #e_zip {
	display: none;
}

/* MAIN PAGES TILES Styles
*************************************/

/* form writing */
#apercu, #form-ecrire .main-form, #form-ecrire #date-and-opts,
#graphs .graph,
#post-new-lien, .linkbloc,
.billets,
#auth, #install,
#form-image, #image-section, #files-section,
#preferences > div, #maintenance-form form,
#post-nv-commentaire, .comm-main-frame,
#form-rss-config .feed-item, #feed-list, #post-list,
.notebloc, #post-new-note,
#calendar, #events-section, #popup, #daily-events
 {
	padding: 15px;
	background: #fefefe;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	border-radius: 15px;
}
