@media (max-width: 700px) {
	#header {
		position: relative;
	}

	#axe {
		padding: 10px 2px;
	}

	#subnav #form-filtre::before {
		position: relative;
		font-size: 2em;
		display: inline-block;
		width: 0;
		left: 5px;
	}

	#subnav form select {
		width: 0;
		background-color: white;
		padding-left: 80px;
		background-position: 80% 50%;
		background-size: 40px;
		border-radius: 5px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	}

	#fab {
		right: 20px;
		bottom: 20px;
	}

	/* page écrire */
	#form-ecrire .main-form .formatbut {
		height: 120px;
	}

	#form-ecrire .main-form .formatbut .but-dropdown {
		position: static;
	}

	#form-ecrire .main-form .formatbut > .but-dropdown > .list {
		right: 5px;
		left: 5px;
		width: auto;
	}

	#form-ecrire .main-form #contenu {
		padding-top: 134px;
	}

	#form-ecrire #date-and-opts {
		margin-left: 0;
		margin-top: 15px;
	}

	.button-delete, .button-submit, .button-cancel {
		min-width: 0;
		padding: 5px;
	}

	/* comms */
	.commentbloc {
		flex-direction: column;
	}

	.commentbloc > .comm-side-icon {
		flex: 0 0 auto;
		z-index: 1;
	}

	.commentbloc .comm-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.commentbloc .comm-title > img {
		margin: 0;
	}

	.commentbloc .webpage a,
	.commentbloc .email a,
	.commentbloc .reply {
		opacity: 1;
	}

	.commentbloc .comm-main-frame {
		margin-left: 25px;
	}

	.commentbloc .comm-options,
	.commentbloc .webpage a,
	.commentbloc .email a,
	.commentbloc .reply {
		visibility: visible;
	}

	.commentbloc .comm-side-icon .date {
		font-size: .6em;
	}

	.commentbloc .comm-content blockquote {
		margin: auto 5px;
	}

	/* links */
	.linkbloc .link-header, .linkbloc .link-footer {
		display: block;
	}

	#post-new-lien, #post-new-note {
		margin: 30px auto 50px;
	}

	/* file edit */
	#fichier-meta-info {
		margin: 20px 0;
		word-wrap: break-word;
		word-break: break-all;
	}

	/* preferences */
	#preferences p {
		display: block;
		margin: 15px;
	}

	#preferences label {
		width: 195px;
		text-align: left;
		display: inline-block;
	}

	#preferences select {
		max-width: 90px;
		padding: 15px 10px 15px 0;
	}

	#preferences .text,
	#preferences textarea.text {
		width: 100%;
		display: block;
	}

	/* maintenance */
	#maintenance-form fieldset {
		max-width: 100%;
	}

	#maintenance-form p > label {
		display: inline;
		width: auto;
		text-align: left;
		padding-right: 0;
	}

	/* paged des RSS */
	#sub-menu {
		padding: 0 10px;
	}

	#rss-list {
		padding-left: 25px;
		margin: auto 0;
	}

	#posts-menu ul {
		margin: 7px 0px;
	}

	#posts-menu button {
		margin: 0px;
	}

	#feed-list {
		transform: translateX(-100%) translateX(10px);
		padding-right: 12px;
		position: absolute;
		z-index: 1;
		left: 0;
		max-width: 80%;
		overflow: visible;
		transition: transform .5s ease-in-out .15s;
	}

	#feed-list:hover {
		transform: translateX(0);
	}

	#post-list > li > .post-head > .site {
		display: none;
	}

	#post-list > li > .post-head .date {
		white-space: normal;
		text-align: center;
		flex-basis: 70px;
	}

	/* page fichiers */
	#file-list td:nth-of-type(3),
	#file-list th:nth-of-type(3) {
		display: none;
	}

	/* Page agenda */
	#event-list > tbody > tr > td,
	#event-list > thead > tr > th {
		padding: 20px 10px;
		white-space: normal;
	}

	#event-list > tbody > tr > td:nth-of-type(2) {
		width: auto;
	}

	#event-list > tbody > tr > td:nth-of-type(3),
	#event-list > thead > tr > th:nth-of-type(3) {
	    display: none;
	}
}

