/* RSS Reader CSS
------------------------------------------------------------ */

#body.feeds #page,
#body.feeds #axe {
	padding: 0;
}

#body.feeds #header {
	box-shadow: 280px 1px 8px rgba(0,0,0,.5);
}

#body.feeds #sub-menu::before {
	content: '';
	position: absolute;
	width: 280px;
	background: #fefefe;
	left: 0;
	bottom: -1px;
	border-top: 1px solid silver;
}

#sub-menu .rss-menu-buttons > li:nth-of-type(1) > button::before { content: "\e92e"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(2) > button::before { content: "\e92f"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(3) > button::before { content: "\e938"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(4) > button::before { content: "\e90f"; }
#sub-menu #count-posts > button { background-image: none; }

#sub-menu .rss-menu-tags {
	flex: 1 1 100%;
	align-content: flex-start;
}

/* the left sidebar, with the list of feeds */
#feed-list {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	overflow-y: scroll;
	position: fixed;
	width: 280px;
	height: calc(100% - 108px);
}

#feed-list li {
	position: relative;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 20px 45px;
	background-repeat: no-repeat;
	background-position: 15px center;
	cursor: pointer;
}

#feed-list > li.special {
	padding: 0;
	text-align: center;
}

#feed-list > li.special:hover {
	box-shadow: none;
}

#feed-list > li.special > ul {
	padding: 0;
	width: 100%;
}

#feed-list > li.special > ul > li {
	padding-right: 1em;
	padding-left: 0;
}

#feed-list > li.special > ul > li::before {
	content: "\e901";
	font-size: 1.6em;
	font-weight: normal;
	padding-right: .5em;
	color: rgba(0, 0, 0, .5);
}

#feed-list > li.special .all-feeds::before   { content: "\e901"; }
#feed-list > li.special .today-feeds::before { content: "\e918"; }
#feed-list > li.special .fav-feeds::before   { content: "\e90c"; }

#feed-list li.feed-site:not([data-nbrun="0"])::before,
#feed-list li.feed-folder:not([data-nbrun="0"])::before {
	content: attr(data-nbrun);
	font-family: inherit!important;
	position: absolute;
	right: 10px;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid silver;
}

#feed-list > li.feed-folder > ul {
	font-weight: normal;
	padding-left: 0;
	margin-left: -45px;
	margin-right: -45px;
	height: 0;
	overflow: hidden;
}

#feed-list > li.feed-folder.open {
	padding-bottom: 0;
}

#feed-list > li.feed-folder.open > ul {
	height: auto;
	overflow: visible;
	margin-top: 20px;
}

#feed-list li.feed-folder a.unfold {
	margin-left: 5px;
	overflow: visible;
	transition: transform ease .2s;
	position: absolute;
	left: 0;
	top: 12px;
}

#feed-list li.feed-folder a.unfold::before {
	content: "\e92d";
	font-size: 2em;
	color: rgba(0, 0, 0, .6);
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 3px;
}

#feed-list li.feed-folder.open a.unfold:focus::before {
	background: rgba(0, 0, 0, .1);
}

#feed-list li.feed-folder.open a.unfold {
	transform: rotate(90deg);
}

#feed-list li a.feed-error {
	color: red;
}

#feed-list li.active-site,
#feed-list > li.feed-folder.active-site {
	background-color: #eee;
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list > li.feed-folder.active-site .li {
	box-shadow: none;
}

#feed-list li.feed-site:hover,
#feed-list li.feed-folder:not(.open):hover {
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list li[data-nbrun="0"] {
	font-weight: normal;
}

#feed-list li[data-nbrun="0"] .counter {
	visibility: hidden;
}

/* block with list of elements to read */
#rss-list {
	margin-left: 305px;
}

#post-list-title {
	padding: 30px 15px 15px;
	display: flex;
	align-items: center;
}

#post-list-title > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	flex: 1;
}

#post-list-title > ul > li {
	display: inline;
}

#post-list-title > ul button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	padding: 0;
	color: rgba(0, 0, 0, .6);
	font-size: 1.5em;
}

#post-list-title ul > li:nth-of-type(1) > button::before        { content: "\e91c"; }
#post-list-title ul > li:nth-of-type(2) > button::before        { content: "\e90a"; }
#post-list-title ul > li:nth-of-type(2) > button.unfold::before { content: "\e90b"; }

#post-list-title > p {
	margin: 0;
}

/* Liste des posts à lire. */
#post-list {
	border-radius: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#post-list > li {
	padding: 0px 15px 0px;
	border-bottom: #F9F9F9 solid 1px;
}

#post-list > li:hover {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
}

#post-list > li.read:not(.open-post) {
	color: gray;
}

#post-list > li img,
#post-list > li table {
	max-width: 100%;
	height: auto;
}

#post-list > li iframe[src^="https://www.youtube.com/"] {
	max-width: 100%;
	width: 100%;
	display: block;
	border: 0;
	margin: 10px 0;
}

/* rss entry title */
#post-list > li > .post-head {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	min-width: 0;
	align-items: center;
}

#post-list > li > .post-head a {
	outline: none;
}

/* bouton fav */
#post-list > li > .post-head > .lien-fav {
	flex: 0 0 32px;
	margin-right: 10px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}

#post-list > li > .post-head > .lien-fav::before {
	content: "\e942";
	font-size: 1.3em;
}

#post-list > li > .post-head > .lien-fav[data-is-fav="1"]::before {
	content: "\e90c";
	color: red;
}

/* le nom du site */
#post-list > li > .post-head > .site {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 125px;
	padding-right: 10px;
	color: rgba(0, 0, 0, .5);
	font-size: .9em;
}

/* le dossier */
#post-list > li > .post-head > .folder {
	border: 1px solid silver;
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 10px 0 0;
}

/* le titre */
#post-list > li > .post-head > .post-title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 15px 0;
	margin-right: 10px;
}

#post-list > li > .post-head > .post-title:hover {
	text-decoration: underline;
	flex: 1 0 auto;
}

#post-list > li:not(.open-post) > .post-head > .post-title:hover {
	text-decoration: none;
}

#post-list > li .post-head .date {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 auto;
	min-width: 0;
	font-size: .9em;
	color: rgba(0, 0, 0, .5);
}

#post-list > li > .post-head > .share {
	display: none;
}

#post-list > li:hover > .post-head > .share {
	display: block;
	flex: 0 0 auto;
}

#post-list > li > .post-head > .share > a {
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	width: 32px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1.3em;
}

#post-list > li > .post-head > .share > .lien-share::before { content: "\e910"; }
#post-list > li > .post-head > .share > .lien-open::before  { content: "\e94a"; }
#post-list > li > .post-head > .share > .lien-tweet::before { content: "\e94b"; }
#post-list > li > .post-head > .share > .lien-mail::before  { content: "\e91e"; }
#post-list > li > .post-head > .share > .lien-gplus::before { content: "\e94c"; }

#post-list > li > .post-head > .share a:hover,
#post-list > li > .post-head > .lien-fav:hover {
	background: rgba(0,0,0, .1);
	color: rgba(0, 0, 0, .6);
}

#post-list > li > .rss-item-content {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#post-list > li > .rss-item-content * {
	max-width: 100%;
}

/* opened post */
#post-list > li.open-post {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
	cursor: auto;
}

#post-list > li.open-post .rss-item-content {
	margin-left: 10px;
	transition: opacity .7s cubic-bezier(0.175, 0.585, 0.32, 1);
	opacity: 1;
	height: auto;
	margin-bottom: 15px;
}

#post-list > li > hr.clearboth {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
}

#rss-list > .keyshortcut {
	color: gray;
	margin-top: 20px;
	text-align: center;
}

/* RSS Config Page -------------------- */
#form-rss-config {
	margin: 30px 0;
	text-align: center;
}

#form-rss-config > .feed-item {
	margin: 25px;
	display: inline-block;
	max-width: 300px;
}

#form-rss-config > .feed-item.feed-error {
	color: red;
}

#form-rss-config > .feed-item > p {
	margin: 0;
	display: flex;
	position: relative;
	align-items: center;
}

#form-rss-config > .feed-item > p > label {
	flex: 0 0 0;
	font-size: 0;
}

#form-rss-config > .feed-item > p > label::before {
	content: "\e901";
	font-size: initial;
	color: rgba(0, 0, 0, .5);
	margin-left: -16px;
	margin-right: -25px;
	vertical-align: middle;
	position: relative;
	left: 16px;
	z-index: 3;
}

#form-rss-config > .feed-item > p > label[for^="i_"]::before { content: "\e903"; }
#form-rss-config > .feed-item > p > label[for^="j_"]::before { content: "\e926"; }
#form-rss-config > .feed-item > p > label[for^="l_"]::before { content: "\e91a"; }

#form-rss-config > .feed-item > p:first-of-type input { /* name */
	font-weight: bold;
}

#form-rss-config > .feed-item > p:nth-of-type(2) input { /* url */
	text-overflow: ellipsis;
}

#form-rss-config > .feed-item > p:last-of-type { /* buttons */
	margin-top: 15px;
	justify-content: flex-end;
}

#form-rss-config .button-cancel {
	display: none;
}

#form-rss-config input.text {
	flex: 1;
	border-bottom-color: transparent;
	padding-left: 40px;
}

#form-rss-config button.button-delete {
	margin-left: 10px;
	margin-top: 0;
	vertical-align: middle;
	background: none;
	color: #f44336;
	box-shadow: none;
}

#form-rss-config button.button-delete:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#form-rss-config button.button-delete:active {
	box-shadow: none;
}

#form-rss-config > .feed-item.to-remove {
	background-color: rgb(250, 250, 250);
}

#form-rss-config > .feed-item.to-remove > p .button-cancel {
	display: inline;
	text-decoration: none;
}

#form-rss-config > .feed-item.to-remove label,
#form-rss-config > .feed-item.to-remove input,
#form-rss-config > .feed-item.to-remove .button-delete {
	opacity: .2;
}

