/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */

#blocBillets h2 {
	font-size: 1em;
	color: rgba(0, 0, 0, .6);
	padding: 15px;
	background: #eee;
	margin: 0;
	position: relative;
	top: 50px;
	height: 50px;
	box-sizing: border-box;
	border-radius: 15px 15px 0 0;
	margin-top: -30px;
}

.billets {
	padding: 60px 10px 10px;
	margin: auto;
	list-style: none;
}

.billets > li {
	padding: 0px 15px;
	min-height: 60px;
	margin: 1px 0;
	display: flex;
	align-items: center;
	border-radius: 7px;
}

.billets > li:hover {
	transition: background-color 0.5s ease 0s;
	background-color: #eee;
}

.billets > li > a {
	text-decoration: none;
	opacity: .5;
	color: inherit;
}

.billets > li:hover > a {
	opacity: 1;
}

.billets > li > a::before {
	font-size: 1.6em;
	margin-right: 5px;
	color: rgba(0, 0, 0, .5);
}

.billets > li > a.titre { /*title*/
	flex: 1;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.billets > li > a.titre::before {
	font-size: 1.9em;
	margin-right: 20px;
}

.billets > li.on > a.titre::before {
	content: "\e91c";
	color: rgba(101, 234, 143, 1);
}

.billets > li.off > a.titre::before {
	content: "\e917";
	color: rgba(252, 101, 101, 1);
}

.billets > li > a.titre > span { /* "planned" */
	font-style: italic;
	padding: 1px 10px;
	background: lightblue;
	margin: 6px 6px 6px 10px;
	border-radius: 10px;
	text-decoration: none;
}

.billets > li > a.date::before {
	content: "\e918";
}

.billets > li > a.comments { /*comms*/
	padding: 0 0 0 12px;
	margin: 0 15px 0 10px;
}

.billets > li > a.comments::before {
	content: "\e91b";
}

.billets > li > a.preview::before { /* prev */
	content: "\e902";
}

