/* PRÉFÉRENCES
------------------------------------------------------------ */

#preferences {
	max-width: 900px;
	margin: auto;
}

/* field sets */
#preferences .pref {
	padding: 0 0 20px;
	margin-top: 40px;
}

#preferences .form-legend {
	padding: 20px;
	font-weight: 500;
	color: rgba(0, 0, 0, .5);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-color: #eee;
}

#preferences p {
	display: flex;
	align-items: center;
}

#preferences label {
	text-align: right;
	padding-right: 5px;
	flex: 0 1 45%;
}

#preferences a {
	padding: 15px 0;
}

#preferences textarea.text {
	width: auto;
}

#preferences .submit-bttns {
	margin-top: 40px;
}

/* MAINTENANCE */
#maintenance-form form + form {
	margin-top: 30px;
}

#maintenance-form fieldset {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
}

#maintenance-form legend {
	font-weight: bold;
	color: #1e88e5;
}

#maintenance-form p > label {
	display: inline-block;
	width: 40%;
	text-align: right;
	padding-right: 5px;
}

#maintenance-form #nb-artic,
#maintenance-form #nb-links {
	display: none;
}

#maintenance-form .submit-bttns {
	margin: 0px auto 15px;
	padding: 0px 20px;
	max-width: 700px;
}

